# 🌳 🔄 Complete Guide to Data Transformation A to Z

Welcome to this comprehensive guide on data transformation, designed to equip you with the knowledge and skills to effectively preprocess and transform your datasets. Whether you're a budding data scientist or a seasoned professional looking to refine your data transformation techniques, this notebook is tailored for you!

## What Will You Learn?

In this guide, we will explore various methods to normalize, construct, discretize, and aggregate features, ensuring you have the tools to confidently prepare your data for any analysis or modeling task. Here's what we'll cover:

### 1. Feature Normalization

Learn how to scale and adjust the statistical distribution of feature values to improve the performance and accuracy of your models.

- **Min-Max Scaling**: Scale features to a fixed range, typically 0 to 1.
- **Z-Score Standardization**: Transform features to have a mean of 0 and a standard deviation of 1.
- **Robust Scaling**: Scale features using statistics that are robust to outliers, such as the median and interquartile range.
- **Yeo-Johnson Transformation**: Apply a transformation that can handle both positive and negative values to achieve normality.
- **Box-Cox Transformation**: Apply a transformation that works with positive values to achieve normality and reduce skewness.

### 2. Feature Construction

Learn techniques to create new features from existing ones, enhancing the predictive power of your models.

- **Use of Domain Knowledge**: Incorporate insights from the specific field or industry to construct meaningful features.
- **Using Statistical Relationships Between Features**: Identify and utilize correlations and interactions between features.
- **Numerical Coding of Nominal Values**:
  - **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
  - **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
  - **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.

### 3. Feature Discretization

Learn how to transform continuous features into discrete ones to simplify models and capture nonlinear relationships.

- **Domain Knowledge**: Use expert knowledge to define meaningful bins.
- **Unsupervised Methods**:
  - **Equal-Width Binning**: Divide the range of values into equal-width bins.
  - **Equal-Frequency Binning**: Divide the range of values so that each bin has approximately the same number of observations.
  - **K-Means Binning**: Use k-means clustering to create bins based on feature similarity.
- **Supervised Methods**:
  - **ChiMerge**: Merge bins based on the chi-squared statistic to ensure similarity with respect to the target variable.
  - **Decision Tree Binning**: Use decision trees to create bins based on target variable splits.


## Why This Guide?

- **Step-by-Step Tutorials**: Each section includes clear explanations followed by practical examples, ensuring you not only learn but also apply your knowledge.
- **Interactive Learning**: Engage with interactive code cells that allow you to see the effects of data transformation methods in real-time.

### How to Use This Notebook

- **Run the Cells**: Follow along with the code examples by running the cells yourself. Modify the parameters to see how the results change.
- **Explore Further**: After completing the guided sections, try applying the methods to your own datasets to reinforce your learning.

Prepare to unlock the full potential of data transformation in data analysis. Let's dive in and transform data into valuable insights!

In [1]:
import pandas as pd

# Load the dataset
file_path = '/kaggle/input/loans-and-liability/LoanData_Preprocessed_v1.2.csv'
data = pd.read_csv(file_path)

# Convert 'ed' and 'default' columns to object type
data['ed'] = data['ed'].astype('object')
data['default'] = data['default'].astype('object')

# Display the first few rows of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       485 non-null    int64
 1   employ    485 non-null    int64
 2   address   485 non-null    int64
 3   income    485 non-null    float64
 4   debtinc   485 non-null    float64
 5   creddebt  485 non-null    float64
 6   othdebt   485 non-null    float64
 7   ed        485 non-null    object
 8   default   485 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 34.2+ KB

In [2]:
data.describe()

,age,employ,address,income,debtinc,creddebt,othdebt
count,485.000000,485.000000,485.000000,485.000000,485.000000,485.000000,485.000000
mean,35.053608,8.239175,8.501031,44.448802,10.217320,1.407004,2.938476
std,8.003177,6.557479,7.013159,31.604135,6.747319,1.517178,2.964370
min,21.000000,0.000000,0.000000,14.000000,0.600000,0.014835,0.045584
25%,29.000000,3.000000,3.000000,24.000000,5.000000,0.376852,1.054992
50%,34.000000,7.000000,7.000000,36.000000,8.600000,0.856075,1.947014
75%,41.000000,12.000000,13.000000,51.000000,14.000000,1.874560,3.817908
max,56.000000,31.000000,34.000000,249.000000,36.600000,9.600480,18.269130

# Dataset Overview

The dataset contains information about loan applicants and includes the following columns:

- **age**: The age of the applicant, indicating how many years they have lived.
  - **Range**: 18 - 66
  - **Mean**: 34.40
  - **Skewness**: Slightly skewed to the right (positive skew).


- **employ**: The number of years the applicant has been employed, which can indicate their job stability and experience.
  - **Range**: 0 - 31
  - **Mean**: 8.21
  - **Skewness**: Right-skewed (positive skew).


- **address**: The number of years the applicant has lived at their current address, providing insights into their residential stability.
  - **Range**: 0 - 28
  - **Mean**: 5.58
  - **Skewness**: Right-skewed (positive skew).


- **income**: The annual income of the applicant (in thousands), representing their earning capacity.
  - **Range**: 10 - 330
  - **Mean**: 55.50
  - **Skewness**: Right-skewed (positive skew).


- **debtinc**: The debt-to-income ratio of the applicant, calculated as the percentage of their income that goes towards paying debts. This ratio helps assess their financial burden.
  - **Range**: 0.00 - 37.30
  - **Mean**: 10.27
  - **Skewness**: Right-skewed (positive skew).


- **creddebt**: The amount of credit card debt the applicant has (in thousands), showing their reliance on credit and their debt levels.
  - **Range**: 0.00 - 22.12
  - **Mean**: 3.51
  - **Skewness**: Right-skewed (positive skew).


- **othdebt**: The amount of other debt the applicant has (in thousands), which includes all other forms of debt apart from credit card debt.
  - **Range**: 0.00 - 57.03
  - **Mean**: 5.05
  - **Skewness**: Right-skewed (positive skew).


- **ed**: The education level of the applicant (encoded numerically), where higher numbers may represent higher levels of education.
  - **Unique Values**: 1.0, 2.0, 3.0, 4.0, 5.0
  - **Most Frequent Value (Mode)**: 1.0


- **default**: A binary indicator of whether the applicant defaulted on the loan (1 for default, 0 for no default), indicating their credit risk.
  - **Unique Values**: 0, 1
  - **Most Frequent Value (Mode)**: 0 (majority did not default)

# 1. Feature Normalization

Feature normalization is a crucial step in the data preprocessing pipeline. It involves adjusting the values of numerical features to ensure they have a common scale, which can improve the performance and training stability of machine learning models. In this section, we will explore various normalization techniques and demonstrate how to apply them using practical examples.

### Why Normalize Features?

Normalization can help in:
- **Improving Model Performance**: Algorithms such as gradient descent converge faster with normalized data.
- **Enhancing Accuracy**: Normalization can reduce the impact of features with larger scales on the model.
- **Stability**: Models can become more stable and less sensitive to variations in the data.

### Techniques Covered:

1. **Min-Max Scaling**: This technique scales the features to a fixed range, typically [0, 1]. The formula is:

   $$
   X' = \frac{X - X_{min}}{X_{max} - X_{min}}
   $$

2. **Z-Score Standardization**: Also known as standardization, this method transforms features to have a mean of 0 and a standard deviation of 1. The formula is:

   $$
   X' = \frac{X - \mu}{\sigma}
   $$

   where \(\mu\) is the mean and \(\sigma\) is the standard deviation of the feature.

3. **Robust Scaling**: This method scales features using statistics that are robust to outliers, such as the median and the interquartile range. The formula is:

   $$
   X' = \frac{X - Q2}{Q3 - Q1}
   $$

   where \(Q1\) and \(Q3\) are the 1st and 3rd quartiles, respectively, and \(Q2\) is the median.

4. **Yeo-Johnson Transformation**: This technique can handle both positive and negative values and transforms the data to be more normally distributed.

5. **Box-Cox Transformation**: This method works with positive values and transforms the data to be more normally distributed, reducing skewness.

### Why Split Train and Test Data?

Splitting the data into training and testing sets is a crucial step in the machine learning pipeline. It ensures that the model's performance can be evaluated on unseen data, providing a more realistic estimate of its effectiveness in real-world scenarios. By keeping the test data separate:
- **Avoid Data Leakage**: Ensures that information from the test set does not influence the model during training.
- **Model Evaluation**: Provides an unbiased evaluation metric for how well the model generalizes to new data.
- **Hyperparameter Tuning**: Helps in tuning model parameters by validating performance on the test set.

Let's see how to apply these transformations to our dataset after splitting the data into training and testing sets.

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

# Split the dataset into training and testing sets
train_data, test_data = train_test_split(data.copy(), test_size=0.2, random_state=42)

# 1.1 Min-Max Scaling

Min-Max Scaling transforms features by scaling them to a given range, usually [0, 1]. This technique is useful when the features have different ranges and you want to ensure they contribute equally to the analysis.

### Columns

For our dataset, the following columns are suitable for Min-Max Scaling:
- `age`
- `debtinc`
- `creddebt`

### Applying Min-Max Scaling

Let's apply Min-Max Scaling to these columns.

In [4]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select the columns to scale
columns_to_scale = ['age', 'debtinc', 'creddebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_min_max_scaled = train_data.copy()
test_data_min_max_scaled = test_data.copy()

train_data_min_max_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_min_max_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Min-Max Scaled Data (Train):")
display(train_data_min_max_scaled.head(20))

Min-Max Scaled Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
460,0.235294,5,4,36.000000,0.340058,0.362627,0.973152,2,1
25,0.294118,11,6,34.000000,0.178674,0.029566,2.013752,1,0
220,0.441176,14,11,81.000000,0.190202,0.184626,4.047408,1,0
234,0.205882,11,6,24.000000,0.051873,0.009629,0.468864,1,0
357,0.529412,22,3,52.000000,0.074928,0.118926,0.509184,1,0
325,0.588235,7,17,63.000000,0.426513,0.482255,5.064444,2,0
42,0.500000,15,18,63.000000,0.368876,0.529510,3.351474,3,0
415,0.411765,10,16,44.448802,0.146974,0.021179,2.005146,1,0
391,0.764706,13,25,51.000000,0.668588,0.388463,8.399496,1,0
301,0.911765,12,16,76.000000,0.204611,0.102237,4.857160,2,0
373,0.588235,23,2,91.000000,0.377522,0.058280,11.893518,1,0
225,0.323529,0,4,20.000000,0.069164,0.025931,0.336600,1,1
390,0.205882,2,4,41.000000,0.054755,0.046357,0.565800,4,1
271,0.882353,10,1,44.000000,0.363112,0.515896,0.847968,1,1
154,0.558824,9,4,64.000000,0.172911,0.080856,3.434112,1,0
316,0.470588,1,3,24.000000,0.417867,0.186351,1.822872,1,1
22,0.411765,16,10,57.000000,0.285303,0.117707,4.841865,1,0
318,0.500000,11,13,35.000000,0.213256,0.130483,1.534400,1,0
46,0.705882,23,5,50.000000,0.103746,0.056727,1.541400,1,0
31,0.294118,15,2,60.000000,0.121037,0.082278,2.076480,1,0

# 1.2 Z-Score Standardization

Z-Score Standardization, also known as standardization, transforms features to have a mean of 0 and a standard deviation of 1. This method is less sensitive to outliers and ensures that each feature contributes equally to the analysis.

### Columns

For our dataset, the following columns are suitable for Z-Score Standardization:
- `age`
- `debtinc`
- `creddebt`

### Applying Z-Score Standardization

Let's apply Z-Score Standardization to these columns.

In [5]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Select the columns to scale
columns_to_scale = ['age', 'debtinc', 'creddebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_z_score_scaled = train_data.copy()
test_data_z_score_scaled = test_data.copy()

train_data_z_score_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_z_score_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Z-Score Standardized Data (Train):")
display(train_data_z_score_scaled.head(20))

Z-Score Standardized Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
460,-0.761217,5,4,36.000000,0.331351,1.396790,0.973152,2,1
25,-0.513957,11,6,34.000000,-0.529227,-0.738630,2.013752,1,0
220,0.104193,14,11,81.000000,-0.467757,0.255534,4.047408,1,0
234,-0.884846,11,6,24.000000,-1.205395,-0.866458,0.468864,1,0
357,0.475083,22,3,52.000000,-1.082455,-0.165701,0.509184,1,0
325,0.722343,7,17,63.000000,0.792374,2.163783,5.064444,2,0
42,0.351453,15,18,63.000000,0.485025,2.466759,3.351474,3,0
415,-0.019437,10,16,44.448802,-0.698269,-0.792403,2.005146,1,0
391,1.464123,13,25,51.000000,2.083240,1.562438,8.399496,1,0
301,2.082273,12,16,76.000000,-0.390919,-0.272704,4.857160,2,0
373,0.722343,23,2,91.000000,0.531128,-0.554536,11.893518,1,0
225,-0.390327,0,4,20.000000,-1.113190,-0.761939,0.336600,1,1
390,-0.884846,2,4,41.000000,-1.190027,-0.630975,0.565800,4,1
271,1.958643,10,1,44.000000,0.454290,2.379476,0.847968,1,1
154,0.598713,9,4,64.000000,-0.559961,-0.409789,3.434112,1,0
316,0.227823,1,3,24.000000,0.746272,0.266594,1.822872,1,1
22,-0.019437,16,10,57.000000,0.039369,-0.173514,4.841865,1,0
318,0.351453,11,13,35.000000,-0.344817,-0.091602,1.534400,1,0
46,1.216863,23,5,50.000000,-0.928780,-0.564490,1.541400,1,0
31,-0.513957,15,2,60.000000,-0.836576,-0.400671,2.076480,1,0

# 1.3 Robust Scaling

Robust Scaling uses statistics that are robust to outliers, such as the median and the interquartile range, to scale features. This method is useful when the dataset contains outliers that could skew the results of standard scaling methods.

### Columns

For our dataset, the following columns are suitable for Robust Scaling:
- `income`
- `othdebt`

### Applying Robust Scaling

Let's apply Robust Scaling to these columns.

In [6]:
from sklearn.preprocessing import RobustScaler

# Initialize the RobustScaler
scaler = RobustScaler()

# Select the columns to scale
columns_to_scale = ['income', 'othdebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_robust_scaled = train_data.copy()
test_data_robust_scaled = test_data.copy()

train_data_robust_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_robust_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Robust Scaled Data (Train):")
display(train_data_robust_scaled.head(20))

Robust Scaled Data (Train):

     age  employ  address    income  debtinc  creddebt   othdebt ed default
460   29       5        4  0.037037     12.4  3.490848 -0.335799  2       1
25    31      11        6 -0.037037      6.8  0.298248  0.022310  1       0
220   36      14       11  1.703704      7.2  1.784592  0.722167  1       0
234   28      11        6 -0.407407      2.4  0.107136 -0.509344  1       0
357   39      22        3  0.629630      3.2  1.154816 -0.495468  1       0
325   41       7       17  1.037037     15.4  4.637556  1.072167  2       0
42    38      15       18  1.037037     13.4  5.090526  0.482670  3       0
415   35      10       16  0.349956      5.7  0.217854  0.019348  1       0
391   47      13       25  0.592593     23.8  3.738504  2.219883  1       0
301   52      12       16  1.518519      7.7  0.994840  1.000833  2       0
373   41      23        2  2.074074     13.7  0.573482  3.422307  1       0
225   32       0        4 -0.555556      3.0  0.263400 -0.554861  1       1
390   28       2        4  0.222222      2.5  0.459200 -0.475984  4       1
271   51      10        1  0.333333     13.2  4.960032 -0.378880  1       1
154   40       9        4  1.074074      6.6  0.789888  0.511109  1       0
316   37       1        3 -0.407407     15.1  1.801128 -0.043379  1       1
22    35      16       10  0.814815     10.5  1.143135  0.995569  1       0
318   38      11       13  0.000000      8.0  1.265600 -0.142653  1       0
46    45      23        5  0.555556      4.2  0.558600 -0.140244  1       0
31    31      15        2  0.925926      4.8  0.803520  0.043897  1       0

# 1.4 Yeo-Johnson and Box-Cox Transformations

The Yeo-Johnson and Box-Cox transformations are power transformations used to stabilize variance and make the data more normally distributed. Yeo-Johnson can handle both positive and negative values, whereas Box-Cox is only applicable to positive values.

### Columns

For our dataset, we will check the following columns for negative values and apply the appropriate transformation:
- `age`
- `income`
- `debtinc`
- `creddebt`
- `othdebt`

### Applying Transformations

Let's check for negative values in the columns and apply the Yeo-Johnson Transformation to columns with negative values and the Box-Cox Transformation to columns with only positive values.

In [7]:
from sklearn.preprocessing import PowerTransformer
import numpy as np

# Check if any column contains negative values
columns_to_check = ['age', 'income', 'debtinc', 'creddebt', 'othdebt']
contains_negative = {col: np.any(train_data[col] < 0) for col in columns_to_check}

# Initialize the PowerTransformers
yeo_johnson_transformer = PowerTransformer(method='yeo-johnson')
box_cox_transformer = PowerTransformer(method='box-cox')

# Make copies of the train and test data for transformations
train_data_yeo_johnson = train_data.copy()
test_data_yeo_johnson = test_data.copy()
train_data_box_cox = train_data.copy()
test_data_box_cox = test_data.copy()

# Apply Yeo-Johnson transformation to columns with negative values
columns_to_transform_yeo_johnson = [col for col, has_negative in contains_negative.items() if has_negative]
if columns_to_transform_yeo_johnson:
    train_data_yeo_johnson[columns_to_transform_yeo_johnson] = yeo_johnson_transformer.fit_transform(train_data[columns_to_transform_yeo_johnson])
    test_data_yeo_johnson[columns_to_transform_yeo_johnson] = yeo_johnson_transformer.transform(test_data[columns_to_transform_yeo_johnson])
    print("Yeo-Johnson Transformed Data (Train):")
    display(train_data_yeo_johnson.head(20))
else:
    print("No columns with negative values for Yeo-Johnson transformation.")

# Apply Box-Cox transformation to columns with only positive values
columns_to_transform_box_cox = [col for col, has_negative in contains_negative.items() if not has_negative]
if columns_to_transform_box_cox:
    train_data_box_cox[columns_to_transform_box_cox] = box_cox_transformer.fit_transform(train_data[columns_to_transform_box_cox])
    test_data_box_cox[columns_to_transform_box_cox] = box_cox_transformer.transform(test_data[columns_to_transform_box_cox])
    print("Box-Cox Transformed Data (Train):")
    display(train_data_box_cox.head(20))
else:
    print("No columns with only positive values for Box-Cox transformation.")

No columns with negative values for Yeo-Johnson transformation.
Box-Cox Transformed Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
460,-0.722629,5,4,0.077409,0.523379,1.366891,-0.744221,2,1
25,-0.435217,11,6,-0.034946,-0.370483,-0.929891,-0.003573,1,0
220,0.212397,14,11,1.371710,-0.292603,0.676646,0.760841,1,0
234,-0.873507,11,6,-0.792830,-1.567354,-1.714773,-1.434802,1,0
357,0.560882,22,3,0.728925,-1.275341,0.255761,-1.359330,1,0
325,0.779262,7,17,1.024614,0.890044,1.675047,1.018051,2,0
42,0.447652,15,18,1.024614,0.651733,1.778300,0.548853,3,0
415,0.090052,10,16,0.465366,-0.602162,-1.180296,-0.008098,1,0
391,1.378198,13,25,0.697407,1.707733,1.440358,1.620568,1,0
301,1.823958,12,16,1.287756,-0.199298,0.116209,0.969654,2,0
373,0.779262,23,2,1.518419,0.688960,-0.379633,2.053153,1,0
225,-0.298085,0,4,-1.244848,-1.343196,-1.029997,-1.731696,1,1
390,-0.873507,2,4,0.321504,-1.527527,-0.571202,-1.261950,4,1
271,1.738178,10,1,0.447604,0.626598,1.749420,-0.878397,1,1
154,0.671375,9,4,1.047656,-0.410598,-0.095161,0.575992,1,0
316,0.331541,1,3,-0.792830,0.855699,0.685788,-0.108266,1,1
22,0.090052,16,10,0.873901,0.258580,0.246173,0.966010,1,0
318,0.447652,11,13,0.022432,-0.145283,0.342652,-0.286888,1,0
46,1.187093,23,5,0.664952,-0.973621,-0.402546,-0.282208,1,0
31,-0.435217,15,2,0.952075,-0.815628,-0.079669,0.028888,1,0

# 2. Feature Construction

Feature construction involves creating new features from existing ones to enhance the predictive power of your models. This can be done using domain knowledge, statistical relationships between features, and various encoding techniques. In this section, we will explore various methods of feature construction and demonstrate how to apply them using practical examples.

### Why Construct New Features?

Constructing new features can help in:
- **Improving Model Performance**: New features can provide additional information that helps the model make better predictions.
- **Capturing Non-Linear Relationships**: Interactions and transformations of existing features can capture non-linear relationships.
- **Reducing Dimensionality**: Aggregating features can reduce the number of dimensions, making models simpler and faster.

### Techniques Covered:

1. **Use of Domain Knowledge**: Incorporate insights from the specific field or industry to construct meaningful features.
2. **Using Statistical Relationships Between Features**: Identify and utilize correlations and interactions between features.
3. **Numerical Coding of Nominal Values**:
   - **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
   - **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
   - **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.


Let's explore and apply various feature construction techniques to our dataset.

# 2.1 Use of Domain Knowledge

Incorporating domain knowledge can help create meaningful features that enhance model performance. For our loan dataset, we can create several new features based on common financial metrics used to evaluate a borrower's creditworthiness.

### New Features:

1. **Debt-to-Income Ratio**: A metric to evaluate a borrower's ability to manage monthly payments and repay debts.


   $$
   \text{Debt-to-Income Ratio} = \frac{\text{creddebt} + \text{othdebt}}{\text{income}}
   $$
   

2. **Income per Year of Employment**: Indicates the stability and substantiality of a person's income relative to their employment duration.


   $$
   \text{Income per Year of Employment} = \frac{\text{income}}{\text{employ} + 1}
   $$


3. **Credit-to-Income Ratio**: Assesses how much of a person's income is used to pay off credit debt.


   $$
   \text{Credit-to-Income Ratio} = \frac{\text{creddebt}}{\text{income}}
   $$


4. **Total Debt**: Sum of all debts to gauge the total debt burden.


   $$
   \text{Total Debt} = \text{creddebt} + \text{othdebt}
   $$


5. **Monthly Debt Payment Burden**: Evaluates the monthly debt payment burden relative to monthly income.


   $$
   \text{Monthly Debt Payment Burden} = \frac{\text{Total Debt}}{\text{income} / 12}
   $$

Let's create these new features in our dataset.

In [8]:
# Make a copy of the original dataset
data_domain_features = data.copy()

# 1. Debt-to-Income Ratio
data_domain_features['debt_to_income_ratio'] = (data_domain_features['creddebt'] + data_domain_features['othdebt']) / data_domain_features['income']

# 2. Income per Year of Employment
data_domain_features['income_per_year_employ'] = data_domain_features['income'] / (data_domain_features['employ'] + 1)  # +1 to avoid division by zero

# 3. Credit-to-Income Ratio
data_domain_features['credit_to_income_ratio'] = data_domain_features['creddebt'] / data_domain_features['income']

# 4. Total Debt
data_domain_features['total_debt'] = data_domain_features['creddebt'] + data_domain_features['othdebt']

# 5. Monthly Debt Payment Burden
data_domain_features['monthly_debt_payment_burden'] = data_domain_features['total_debt'] / (data_domain_features['income'] / 12)

# Display the first 20 rows to verify the new features
data_domain_features[['debt_to_income_ratio', 'income_per_year_employ', 'credit_to_income_ratio', 'total_debt', 'monthly_debt_payment_burden']].head(20)

,debt_to_income_ratio,income_per_year_employ,credit_to_income_ratio,total_debt,monthly_debt_payment_burden
0,0.060,2.666667,0.028980,1.920,0.720
1,0.124,13.000000,0.014508,3.224,1.488
2,0.104,4.411765,0.052728,7.800,1.248
3,0.078,7.781250,0.017160,19.422,0.936
4,0.189,7.285714,0.061047,19.278,2.268
5,0.073,16.000000,0.001533,1.168,0.876
6,0.105,5.400000,0.091560,2.835,1.260
7,0.271,3.000000,0.159890,16.260,3.252
8,0.063,12.500000,0.029421,4.725,0.756
9,0.205,3.454545,0.091430,15.580,2.460
10,0.042,6.600000,0.015162,1.386,0.504
11,0.029,7.500000,0.022156,3.480,0.348
12,0.103,3.000000,0.075808,3.399,1.236
13,0.197,25.000000,0.111108,4.925,2.364
14,0.057,21.000000,0.019950,2.394,0.684
15,0.087,21.000000,0.021663,1.827,1.044
16,0.007,4.777778,0.001995,0.301,0.084
17,0.054,14.600000,0.030456,3.942,0.648
18,0.229,11.666667,0.060685,8.015,2.748
19,0.130,5.333333,0.005460,4.160,1.560

# 2.2 Using Statistical Relationships

Utilizing statistical relationships between features can help create new features that capture interactions and dependencies within the data. This can enhance the predictive power of your models by providing additional insights and improving their ability to detect patterns.

### New Features:

1. **Interaction Terms**: Capturing the interaction between two or more features can help in understanding the combined effect of these features.
2. **Polynomial Features**: Creating polynomial features can help in capturing non-linear relationships.
3. **Ratios and Differences**: Creating features based on ratios and differences between existing features.

Let's create these new features in our dataset.

In [9]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.impute import SimpleImputer
import pandas as pd

# Make a copy of the original dataset
data_stat_features = data.copy()

# Impute missing values with the mean for 'age' and 'income' 
imputer = SimpleImputer(strategy='mean')
data_stat_features[['age', 'income']] = imputer.fit_transform(data_stat_features[['age', 'income']])

# 1. Interaction Terms
# Create interaction terms between 'income' and 'debtinc'
data_stat_features['income_debtinc_interaction'] = data_stat_features['income'] * data_stat_features['debtinc']

# 2. Polynomial Features
# Create polynomial features for 'age' and 'income'
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_features = poly.fit_transform(data_stat_features[['age', 'income']])
poly_feature_names = poly.get_feature_names_out(['age', 'income'])
poly_df = pd.DataFrame(poly_features, columns=poly_feature_names, index=data_stat_features.index)
data_stat_features = pd.concat([data_stat_features, poly_df], axis=1)

# 3. Ratios and Differences
# Create ratio and difference features between 'creddebt' and 'othdebt'
data_stat_features['creddebt_othdebt_ratio'] = data_stat_features['creddebt'] / data_stat_features['othdebt']
data_stat_features['creddebt_othdebt_diff'] = data_stat_features['creddebt'] - data_stat_features['othdebt']

# Display the first 20 rows to verify the new features
data_stat_features[['income_debtinc_interaction', 'age', 'income', 'age^2', 'age income', 'income^2', 'creddebt_othdebt_ratio', 'creddebt_othdebt_diff']].head(20)

,income_debtinc_interaction,age,age,income,income,age^2,age income,income^2,creddebt_othdebt_ratio,creddebt_othdebt_diff
0,192.0,29.0,29.0,32.0,32.0,841.0,928.0,1024.0,0.934236,-0.065280
1,322.4,28.0,28.0,26.0,26.0,784.0,728.0,676.0,0.132503,-2.469584
2,780.0,34.0,34.0,75.0,75.0,1156.0,2550.0,5625.0,1.028398,0.109200
3,1942.2,51.0,51.0,249.0,249.0,2601.0,12699.0,62001.0,0.282051,-10.876320
4,1927.8,40.0,40.0,102.0,102.0,1600.0,4080.0,10404.0,0.477105,-6.824412
5,116.8,24.0,24.0,16.0,16.0,576.0,384.0,256.0,0.021450,-1.118944
6,283.5,26.0,26.0,27.0,27.0,676.0,702.0,729.0,6.812500,2.109240
7,1626.0,39.0,39.0,60.0,60.0,1521.0,2340.0,3600.0,1.439024,2.926800
8,472.5,27.0,27.0,75.0,75.0,729.0,2025.0,5625.0,0.876173,-0.311850
9,1558.0,41.0,41.0,76.0,76.0,1681.0,3116.0,5776.0,0.805054,-1.682640
10,138.6,30.0,30.0,33.0,33.0,900.0,990.0,1089.0,0.564945,-0.385308
11,348.0,41.0,41.0,120.0,120.0,1681.0,4920.0,14400.0,3.237288,1.837440
12,339.9,34.0,34.0,33.0,33.0,1156.0,1122.0,1089.0,2.787879,1.604328
13,492.5,36.0,36.0,25.0,25.0,1296.0,900.0,625.0,1.293578,0.630400
14,239.4,24.0,24.0,42.0,42.0,576.0,1008.0,1764.0,0.538462,-0.718200
15,182.7,23.0,23.0,21.0,21.0,529.0,483.0,441.0,0.331558,-0.917154
16,30.1,41.0,41.0,43.0,43.0,1681.0,1763.0,1849.0,0.398601,-0.129430
17,394.2,46.0,46.0,73.0,73.0,2116.0,3358.0,5329.0,1.293578,0.504576
18,801.5,33.0,33.0,35.0,35.0,1089.0,1155.0,1225.0,0.360544,-3.767050
19,416.0,35.0,35.0,32.0,32.0,1225.0,1120.0,1024.0,0.043841,-3.810560

# 2.3 Numerical Coding of Nominal Values

Numerical coding of nominal values is a method to convert categorical data into numerical format, which can be easily used by machine learning models. This process is crucial when dealing with categorical features as many algorithms cannot handle non-numeric data directly.

### Techniques Covered:

1. **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
2. **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
3. **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.

Let's apply these techniques to our dataset.

# 2.3.1 One-Hot Encoding

One-Hot Encoding is a technique used to convert categorical variables into a series of binary variables (0 or 1). Each category in the original variable is represented as a separate column, with a 1 indicating the presence of that category and a 0 indicating its absence. This technique is useful when there is no ordinal relationship between the categories.

### Example

For our dataset, we'll apply one-hot encoding to the `ed` and `default` columns, which represents education levels.

Let's apply one-hot encoding to our dataset.

In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Make a copy of the original dataset
data_one_hot_encoded = data.copy()

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity

# Select the columns to encode
columns_to_encode = ['ed', 'default']

# Fit and transform the encoder on the selected columns
encoded_data = encoder.fit_transform(data_one_hot_encoded[columns_to_encode])

# Create a DataFrame with the encoded data
encoded_columns = encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns, index=data_one_hot_encoded.index)

# Concatenate the encoded columns with the original dataset (excluding the original categorical columns)
data_one_hot_encoded = pd.concat([data_one_hot_encoded.drop(columns_to_encode, axis=1), encoded_df], axis=1)

# Display the first 20 rows to verify the one-hot encoding
data_one_hot_encoded.head(20)

,age,employ,address,income,debtinc,creddebt,othdebt,ed_2,ed_3,ed_4,ed_5,default_1
0,29,11,7,32.0,6.0,0.927360,0.992640,0.0,0.0,0.0,0.0,0.0
1,28,1,3,26.0,12.4,0.377208,2.846792,0.0,0.0,1.0,0.0,0.0
2,34,16,3,75.0,10.4,3.954600,3.845400,0.0,0.0,0.0,0.0,0.0
3,51,31,14,249.0,7.8,4.272840,15.149160,1.0,0.0,0.0,0.0,0.0
4,40,13,11,102.0,18.9,6.226794,13.051206,1.0,0.0,0.0,0.0,1.0
5,24,0,5,16.0,7.3,0.024528,1.143472,1.0,0.0,0.0,0.0,0.0
6,26,4,3,27.0,10.5,2.472120,0.362880,0.0,0.0,0.0,0.0,1.0
7,39,19,15,60.0,27.1,9.593400,6.666600,0.0,0.0,0.0,0.0,1.0
8,27,5,1,75.0,6.3,2.206575,2.518425,0.0,1.0,0.0,0.0,0.0
9,41,21,2,76.0,20.5,6.948680,8.631320,0.0,0.0,0.0,0.0,0.0
10,30,4,0,33.0,4.2,0.500346,0.885654,0.0,0.0,0.0,0.0,0.0
11,41,15,14,120.0,2.9,2.658720,0.821280,0.0,0.0,0.0,0.0,0.0
12,34,10,1,33.0,10.3,2.501664,0.897336,0.0,0.0,0.0,0.0,1.0
13,36,0,13,25.0,19.7,2.777700,2.147300,0.0,0.0,0.0,0.0,0.0
14,24,1,2,42.0,5.7,0.837900,1.556100,1.0,0.0,0.0,0.0,0.0
15,23,0,4,21.0,8.7,0.454923,1.372077,1.0,0.0,0.0,0.0,0.0
16,41,8,21,43.0,0.7,0.085785,0.215215,1.0,0.0,0.0,0.0,0.0
17,46,4,17,73.0,5.4,2.223288,1.718712,0.0,1.0,0.0,0.0,0.0
18,33,2,14,35.0,22.9,2.123975,5.891025,1.0,0.0,0.0,0.0,1.0
19,35,5,5,32.0,13.0,0.174720,3.985280,0.0,0.0,0.0,0.0,0.0

# 2.3.2 Ordinal or Label Encoding

Ordinal or Label Encoding is a technique used to convert categorical variables into integer values based on their order or labels. This technique is useful when there is an ordinal relationship between the categories, or when simply converting categorical data into a numerical format.

### Example

For our dataset, we'll apply label encoding to the `ed` column, which represents education levels, and the `default` column, which represents default status.

Let's apply label encoding to our dataset.

In [11]:
from sklearn.preprocessing import LabelEncoder

# Make a copy of the original dataset
data_label_encoded = data.copy()

# Initialize the LabelEncoder for 'ed' and 'default'
label_encoder_ed = LabelEncoder()
label_encoder_default = LabelEncoder()

# Fit and transform the 'ed' column
data_label_encoded['ed'] = label_encoder_ed.fit_transform(data_label_encoded['ed'])

# Fit and transform the 'default' column
data_label_encoded['default'] = label_encoder_default.fit_transform(data_label_encoded['default'])

# Display the first 20 rows to verify the label encoding
data_label_encoded[['ed', 'default']].head(20)

    ed  default
0    0        0
1    3        0
2    0        0
3    1        0
4    1        1
5    1        0
6    0        1
7    0        1
8    2        0
9    0        0
10   0        0
11   0        0
12   0        1
13   0        0
14   1        0
15   1        0
16   1        0
17   2        0
18   1        1
19   0        0

# 2.3.3 Probability Ratio Encoding

Probability Ratio Encoding is a technique that encodes categorical features based on the probability ratio of the target variable for each category. This method is particularly useful when the categories have a predictive relationship with the target variable.

### Example

For our dataset, we'll apply probability ratio encoding to the `ed` column, which represents education levels, using the `default` column as the target variable.

Let's apply probability ratio encoding to our dataset.

In [12]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

import category_encoders as ce
import pandas as pd

# Make a copy of the original dataset
data_prob_ratio_encoded = data.copy()

# Initialize the TargetEncoder (Probability Ratio Encoder)
prob_ratio_encoder = ce.TargetEncoder(cols=['ed'])

# Fit the encoder to the data and transform the 'ed' column
data_prob_ratio_encoded['ed_prob_ratio'] = prob_ratio_encoder.fit_transform(data_prob_ratio_encoded['ed'], data_prob_ratio_encoded['default'])

# Display the first 20 rows to verify the probability ratio encoding
data_prob_ratio_encoded[['ed', 'ed_prob_ratio']].head(20)

   ed ed_prob_ratio
0   1      0.207031
1   4      0.341784
2   1      0.207031
3   2      0.279411
4   2      0.279411
5   2      0.279411
6   1      0.207031
7   1      0.207031
8   3      0.299091
9   1      0.207031
10  1      0.207031
11  1      0.207031
12  1      0.207031
13  1      0.207031
14  2      0.279411
15  2      0.279411
16  2      0.279411
17  3      0.299091
18  2      0.279411
19  1      0.207031

# 3. Feature Discretization

Feature discretization involves transforming continuous features into discrete ones. This process can simplify models, capture non-linear relationships, and improve interpretability. In this section, we will explore various discretization techniques and demonstrate how to apply them using practical examples.

### Techniques Covered:

1. **Domain Knowledge**: Use expert knowledge to define meaningful bins.
2. **Equal-Width Binning**: Divide the range of values into equal-width bins.
3. **Equal-Frequency Binning**: Divide the range of values so that each bin has approximately the same number of observations.
4. **K-Means Binning**: Use k-means clustering to create bins based on feature similarity.
5. **ChiMerge**: Merge bins based on the chi-squared statistic to ensure similarity with respect to the target variable.
6. **Decision Tree Binning**: Use decision trees to create bins based on target variable splits.

Let's apply these discretization techniques to our dataset.

# 3.1 Domain Knowledge

Using domain knowledge for feature discretization involves leveraging expert insights to define meaningful bins. This method ensures that the bins are relevant and can capture important patterns in the data.


For our dataset, we'll apply domain knowledge to discretize the following columns:
- `income`
- `age`

Let's apply domain knowledge-based discretization to these columns.

In [13]:
import pandas as pd

# Make a copy of the original dataset
data_discretized = data.copy()

# Define bins for 'income' based on domain knowledge
# Example bins: Low (< 30k), Medium (30k-60k), High (60k-100k), Very High (> 100k)
income_bins = [0, 30000, 60000, 100000, float('inf')]
income_labels = [1, 2, 3, 4]  # Using numbers for labels
data_discretized['income_bin_domain'] = pd.cut(data_discretized['income'], bins=income_bins, labels=income_labels)

# Define bins for 'age' based on domain knowledge
# Example bins: Young (< 25), Adult (25-40), Middle-Aged (40-60), Senior (> 60)
age_bins = [0, 25, 40, 60, float('inf')]
age_labels = [1, 2, 3, 4]  # Using numbers for labels
data_discretized['age_bin_domain'] = pd.cut(data_discretized['age'], bins=age_bins, labels=age_labels)

# Display the first 20 rows to verify the domain knowledge-based discretization
data_discretized[['income', 'income_bin_domain', 'age', 'age_bin_domain']].head(20)

    income income_bin_domain  age age_bin_domain
0     32.0                 1   29              2
1     26.0                 1   28              2
2     75.0                 1   34              2
3    249.0                 1   51              3
4    102.0                 1   40              2
5     16.0                 1   24              1
6     27.0                 1   26              2
7     60.0                 1   39              2
8     75.0                 1   27              2
9     76.0                 1   41              3
10    33.0                 1   30              2
11   120.0                 1   41              3
12    33.0                 1   34              2
13    25.0                 1   36              2
14    42.0                 1   24              1
15    21.0                 1   23              1
16    43.0                 1   41              3
17    73.0                 1   46              3
18    35.0                 1   33              2
19    32.0                 1   35              2

# 3.2 Equal-Width Binning

Equal-Width Binning divides the range of values into equal-width bins. This technique is useful for creating evenly spaced intervals, which can help in simplifying the model and capturing important patterns.


For our dataset, we'll apply equal-width binning to the following columns:
- `income`
- `debtinc`

We'll use the `KBinsDiscretizer` from `sklearn.preprocessing` to perform the equal-width binning.

In [14]:
from sklearn.preprocessing import KBinsDiscretizer
import pandas as pd

# Make a copy of the original dataset
data_discretized = data.copy()

# Initialize the KBinsDiscretizer for equal-width binning
# Strategy 'uniform' is used for equal-width binning
kbin_discretizer = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')

# Select the columns to discretize
columns_to_discretize = ['income', 'age']

# Fit the discretizer to the data and transform the selected columns
data_discretized[columns_to_discretize] = kbin_discretizer.fit_transform(data_discretized[columns_to_discretize])

# Display the first 20 rows to verify the equal-width binning
data_discretized[['income', 'age']].head(20)

    income  age
0      0.0  0.0
1      0.0  0.0
2      1.0  1.0
3      3.0  3.0
4      1.0  2.0
5      0.0  0.0
6      0.0  0.0
7      0.0  2.0
8      1.0  0.0
9      1.0  2.0
10     0.0  1.0
11     1.0  2.0
12     0.0  1.0
13     0.0  1.0
14     0.0  0.0
15     0.0  0.0
16     0.0  2.0
17     1.0  2.0
18     0.0  1.0
19     0.0  1.0

# 3.3 Equal-Frequency Binning

Equal-Frequency Binning divides the range of values so that each bin has approximately the same number of observations. This technique is useful for creating bins with an equal number of data points.


Let's apply equal-frequency binning to the `income` and `age` columns.

We'll use the `KBinsDiscretizer` from `sklearn.preprocessing` to perform the equal-frequency binning.

In [15]:
from sklearn.preprocessing import KBinsDiscretizer
import pandas as pd

# Strategy 'quantile' is used for equal-frequency binning
kbin_discretizer = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='quantile')

# Select the columns to discretize
columns_to_discretize = ['income', 'age']

# Fit the discretizer to the training data and transform both training and testing data
train_data_discretized = train_data.copy()
test_data_discretized = test_data.copy()

train_data_discretized[columns_to_discretize] = kbin_discretizer.fit_transform(train_data[columns_to_discretize])
test_data_discretized[columns_to_discretize] = kbin_discretizer.transform(test_data[columns_to_discretize])

# Display the first 20 rows to verify the equal-frequency binning on training data
train_data_discretized[['income', 'age']].head(20)

     income  age
460     2.0  1.0
25      1.0  1.0
220     3.0  2.0
234     1.0  0.0
357     3.0  2.0
325     3.0  3.0
42      3.0  2.0
415     2.0  2.0
391     3.0  3.0
301     3.0  3.0
373     3.0  3.0
225     0.0  1.0
390     2.0  0.0
271     2.0  3.0
154     3.0  2.0
316     1.0  2.0
22      3.0  2.0
318     2.0  2.0
46      2.0  3.0
31      3.0  1.0

# 3.4 K-Means Binning

K-Means Binning uses k-means clustering to create bins based on feature similarity. This technique is useful for capturing clusters within the data.


Let's apply k-means binning to the `income` and `age` columns.

We'll use the `KMeans` from `sklearn.cluster` to perform the k-means binning.

In [16]:
from sklearn.cluster import KMeans
import pandas as pd


# Initialize the KMeans model for binning
kmeans = KMeans(n_clusters=4, random_state=42)

# Select the columns to discretize
columns_to_discretize = ['income', 'age']

# Fit the KMeans model to the training data and transform both training and testing data
train_data_discretized = train_data.copy()
test_data_discretized = test_data.copy()

for column in columns_to_discretize:
    # Reshape the data for KMeans
    train_col_reshaped = train_data[[column]].values.reshape(-1, 1)
    test_col_reshaped = test_data[[column]].values.reshape(-1, 1)
    
    # Fit the KMeans model to the training data
    kmeans.fit(train_col_reshaped)
    
    # Transform the training and testing data
    train_data_discretized[column + '_bin_kmeans'] = kmeans.predict(train_col_reshaped)
    test_data_discretized[column + '_bin_kmeans'] = kmeans.predict(test_col_reshaped)

# Display the first 20 rows to verify the k-means binning on training data
train_data_discretized[[f'{col}_bin_kmeans' for col in columns_to_discretize]].head(20)

     income_bin_kmeans  age_bin_kmeans
460                  0               2
25                   0               0
220                  1               0
234                  0               2
357                  2               3
325                  2               3
42                   2               3
415                  2               0
391                  2               1
301                  2               1
373                  1               3
225                  0               0
390                  2               2
271                  2               1
154                  2               3
316                  0               3
22                   2               0
318                  0               3
46                   2               1
31                   2               0

# 3.5 ChiMerge

ChiMerge uses a chi-squared statistic to merge bins based on the similarity of the target variable distribution. This technique is useful for creating bins that are statistically similar with respect to the target variable.


Let's apply ChiMerge to the `income` and `age` columns using the `default` target variable.

We will use the `woebin` function from the `scorecardpy` package to perform the discretization.

In [17]:
!pip install scorecardpy

Collecting scorecardpy
  Downloading scorecardpy-0.1.9.7.tar.gz (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.1/58.1 kB 1.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... - done
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (1.26.4)
Requirement already satisfied: pandas>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (2.2.2)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (3.7.5)
Requirement already satisfied: scikit-learn>=0.19.1 in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (1.2.2)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (0.14.1)
Requirement already satisfied: patsy in /opt/conda/lib/python3.10/site-packages (from scorecardpy) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.0->scorecardpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.0->scorecardpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.0->scorecardpy) (2023.4)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.19.1->scorecardpy) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.19.1->scorecardpy) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.19.1->scorecardpy) (3.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->scorecardpy) (3.1.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy->scorecardpy) (1.16.0)
Building wheels for collected packages: scorecardpy
  Building wheel for scorecardpy (setup.py) ... - \ done
  Created wheel for scorecardpy: filename=scorecardpy-0.1.9.7-py3-none-any.whl size=60634 sha256=eff6182bb2b10794263008040b0f917b7066c1ef4bf705b233019ab701c7524a
  Stored in directory: /root/.cache/pip/wheels/49/49/e9/7b845548eed3624ce37effdd13e9cb95a99272d692eb9e9e23
Successfully built scorecardpy
Installing collected packages: scorecardpy
Successfully installed scorecardpy-0.1.9.7

In [18]:
import pandas as pd
import scorecardpy as sc

# Assuming train_data and test_data have already been defined and split

# Make copies of the training and testing datasets
train_data_discretized = train_data.copy()
test_data_discretized = test_data.copy()

# Select the columns to discretize
columns_to_discretize = ['income', 'age']

# Apply woebin to the selected columns
bins = sc.woebin(train_data, y='default', x=columns_to_discretize, max_num_bin=4, method='chimerge')

# Function to apply bins to a dataset
def apply_bins(data, bins):
    for col in bins.keys():
        bin_df = bins[col]
        bin_edges = bin_df['breaks'].apply(lambda x: float(x.split(",")[0].replace("(", "").replace("[", "")))
        bin_edges = [-float('inf')] + sorted(set(bin_edges)) + [float('inf')]  # Ensure unique edges
        data[col + '_bin_chimerge'] = pd.cut(data[col], bins=bin_edges, labels=False, include_lowest=True, duplicates='drop')
    return data

# Apply the bins to the training and testing data
train_data_discretized = apply_bins(train_data_discretized, bins)
test_data_discretized = apply_bins(test_data_discretized, bins)

# Display the first 20 rows to verify the ChiMerge binning on the training data
train_data_discretized[[f'{col}_bin_chimerge' for col in columns_to_discretize]].head(20)

[INFO] creating woe binning ...

     income_bin_chimerge  age_bin_chimerge
460                    0                 0
25                     0                 0
220                    1                 1
234                    0                 0
357                    0                 1
325                    1                 1
42                     1                 1
415                    0                 1
391                    0                 1
301                    1                 1
373                    1                 1
225                    0                 0
390                    0                 0
271                    0                 1
154                    1                 1
316                    0                 1
22                     0                 1
318                    0                 1
46                     0                 1
31                     0                 0

# 3.6 Decision Tree Binning

Decision Tree Binning uses a decision tree to determine binning points based on the target variable. This technique is useful for creating bins that optimize splits with respect to the target variable.


Let's apply decision tree binning to the `income` and `age` columns using the `default` target variable.

In [19]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder


# Ensure the target variable is properly encoded
label_encoder = LabelEncoder()
train_data['default'] = label_encoder.fit_transform(train_data['default'])
test_data['default'] = label_encoder.transform(test_data['default'])

# Make copies of the training and testing datasets
train_data_discretized = train_data.copy()
test_data_discretized = test_data.copy()

# Select the columns to discretize
columns_to_discretize = ['income', 'age']

# Function to apply decision tree binning to a dataset
def apply_decision_tree_binning(train_data, test_data, column, target, max_leaf_nodes):
    # Initialize the decision tree model
    tree_model = DecisionTreeClassifier(max_leaf_nodes=max_leaf_nodes, random_state=42)
    
    # Fit the model to the training data
    tree_model.fit(train_data[[column]], train_data[target])
    
    # Extract the binning points from the decision tree model
    binning_points = np.sort(tree_model.tree_.threshold[tree_model.tree_.threshold != -2])
    
    # Ensure unique binning points and include boundaries
    binning_points = np.unique(binning_points)
    binning_points = [-float('inf')] + binning_points.tolist() + [float('inf')]
    
    # Apply the bins to the training and testing data
    train_data[column + '_bin_tree'] = pd.cut(train_data[column], bins=binning_points, labels=False, include_lowest=True)
    test_data[column + '_bin_tree'] = pd.cut(test_data[column], bins=binning_points, labels=False, include_lowest=True)
    
    return train_data, test_data

# Apply decision tree binning to the selected columns
for column in columns_to_discretize:
    train_data_discretized, test_data_discretized = apply_decision_tree_binning(train_data_discretized, test_data_discretized, column, 'default', max_leaf_nodes=4)

# Display the first 20 rows to verify the decision tree binning on the training data
train_data_discretized[[f'{col}_bin_tree' for col in columns_to_discretize]].head(20)

     income_bin_tree  age_bin_tree
460                1             0
25                 1             0
220                3             1
234                1             0
357                2             1
325                3             1
42                 3             1
415                2             1
391                2             2
301                3             2
373                3             1
225                1             0
390                2             0
271                2             2
154                3             1
316                1             1
22                 2             1
318                1             1
46                 2             2
31                 2             0

### Note: Also you can use Feature-engine Library for Desicion tree binning and more
https://feature-engine.trainindata.com/en/latest/

---

## Thanks for Checking Out My Notebook!

I hope you enjoyed the **🌳 🔄 Complete Guide to Data Transformation A to Z** and found it helpful. If you have any questions, suggestions, or feedback, feel free to reach out. Your input is greatly appreciated!

#### Show Your Support
If you found this notebook useful, please consider giving it an upvote. Your support helps me create more high-quality content!

#### Connect with Me
- [Kaggle Profile](https://www.kaggle.com/matinmahmoudi)
- [LinkedIn](https://www.linkedin.com/in/matinmahmoudicom/)
- [GitHub](https://github.com/matinmahmoudi/)
- [Medium](https://matinmahmoudi.com)

## Ask Questions
If you have any questions or need further clarification, don't hesitate to ask. I'm here to help!

Happy Coding! 🚀

---