# ðŸŒ³ ðŸ”„ Complete Guide to Transformation from A to Z

Welcome to this comprehensive guide on data transformation, designed to equip you with the knowledge and skills to effectively preprocess and transform your datasets. Whether you're a budding data scientist or a seasoned professional looking to refine your data transformation techniques, this notebook is tailored for you!

## What Will You Learn?

In this guide, we will explore various methods to normalize, construct, discretize, and aggregate features, ensuring you have the tools to confidently prepare your data for any analysis or modeling task. Here's what we'll cover:

### 1. Feature Normalization

Learn how to scale and adjust the statistical distribution of feature values to improve the performance and accuracy of your models.

- **Min-Max Scaling**: Scale features to a fixed range, typically 0 to 1.
- **Z-Score Standardization**: Transform features to have a mean of 0 and a standard deviation of 1.
- **Robust Scaling**: Scale features using statistics that are robust to outliers, such as the median and interquartile range.
- **Yeo-Johnson Transformation**: Apply a transformation that can handle both positive and negative values to achieve normality.
- **Box-Cox Transformation**: Apply a transformation that works with positive values to achieve normality and reduce skewness.

### 2. Feature Construction

Learn techniques to create new features from existing ones, enhancing the predictive power of your models.

- **Use of Domain Knowledge**: Incorporate insights from the specific field or industry to construct meaningful features.
- **Using Statistical Relationships Between Features**: Identify and utilize correlations and interactions between features.
- **Numerical Coding of Nominal Values**:
  - **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
  - **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
  - **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.

### 3. Feature Discretization

Learn how to transform continuous features into discrete ones to simplify models and capture nonlinear relationships.

- **Domain Knowledge**: Use expert knowledge to define meaningful bins.
- **Unsupervised Methods**:
  - **Equal-Width Binning**: Divide the range of values into equal-width bins.
  - **Equal-Frequency Binning**: Divide the range of values so that each bin has approximately the same number of observations.
  - **K-Means Binning**: Use k-means clustering to create bins based on feature similarity.
- **Supervised Methods**:
  - **ChiMerge**: Merge bins based on the chi-squared statistic to ensure similarity with respect to the target variable.
  - **Decision Tree Binning**: Use decision trees to create bins based on target variable splits.

### 4. Feature Aggregation

Learn how to combine multiple features into single aggregated features to reduce dimensionality and capture higher-level information.

- **Summarizing Features**: Calculate summary statistics (e.g., mean, median, sum) for groups of features.
- **Hierarchical Aggregation**: Aggregate features based on hierarchical or nested groupings.
- **Temporal Aggregation**: Aggregate features based on time intervals (e.g., daily, monthly averages).

## Why This Guide?

- **Step-by-Step Tutorials**: Each section includes clear explanations followed by practical examples, ensuring you not only learn but also apply your knowledge.
- **Interactive Learning**: Engage with interactive code cells that allow you to see the effects of data transformation methods in real-time.

### How to Use This Notebook

- **Run the Cells**: Follow along with the code examples by running the cells yourself. Modify the parameters to see how the results change.
- **Explore Further**: After completing the guided sections, try applying the methods to your own datasets to reinforce your learning.

Prepare to unlock the full potential of data transformation in data analysis. Let's dive in and transform data into valuable insights!

In [1]:
import pandas as pd

# Load the dataset
file_path = '/kaggle/input/loans-and-liability/LoanData_Preprocessed_v1.1.csv'
data = pd.read_csv(file_path)

# Convert 'ed' and 'default' columns to object type
data['ed'] = data['ed'].astype('object')
data['default'] = data['default'].astype('object')

# Display the first few rows of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       680 non-null    float64
 1   employ    700 non-null    int64
 2   address   700 non-null    int64
 3   income    663 non-null    float64
 4   debtinc   700 non-null    float64
 5   creddebt  700 non-null    float64
 6   othdebt   700 non-null    float64
 7   ed        680 non-null    object
 8   default   700 non-null    object
dtypes: float64(5), int64(2), object(2)
memory usage: 49.3+ KB

In [2]:
data.describe()

,age,employ,address,income,debtinc,creddebt,othdebt
count,680.000000,700.000000,700.000000,663.00000,700.000000,700.000000,700.000000
mean,34.750000,8.388571,8.268571,45.74359,10.260571,1.553553,3.058209
std,7.973215,6.658039,6.821609,37.44108,6.827234,2.117197,3.287555
min,20.000000,0.000000,0.000000,14.00000,0.400000,0.011696,0.045584
25%,28.000000,3.000000,3.000000,24.00000,5.000000,0.369059,1.044178
50%,34.000000,7.000000,7.000000,34.00000,8.600000,0.854869,1.987567
75%,40.000000,12.000000,12.000000,54.50000,14.125000,1.901955,3.923065
max,56.000000,31.000000,34.000000,446.00000,41.300000,20.561310,27.033600

# Dataset Overview

The dataset contains information about loan applicants and includes the following columns:

- **age**: The age of the applicant, indicating how many years they have lived.
  - **Range**: 18 - 66
  - **Mean**: 34.40
  - **Skewness**: Slightly skewed to the right (positive skew).


- **employ**: The number of years the applicant has been employed, which can indicate their job stability and experience.
  - **Range**: 0 - 31
  - **Mean**: 8.21
  - **Skewness**: Right-skewed (positive skew).


- **address**: The number of years the applicant has lived at their current address, providing insights into their residential stability.
  - **Range**: 0 - 28
  - **Mean**: 5.58
  - **Skewness**: Right-skewed (positive skew).


- **income**: The annual income of the applicant (in thousands), representing their earning capacity.
  - **Range**: 10 - 330
  - **Mean**: 55.50
  - **Skewness**: Right-skewed (positive skew).


- **debtinc**: The debt-to-income ratio of the applicant, calculated as the percentage of their income that goes towards paying debts. This ratio helps assess their financial burden.
  - **Range**: 0.00 - 37.30
  - **Mean**: 10.27
  - **Skewness**: Right-skewed (positive skew).


- **creddebt**: The amount of credit card debt the applicant has (in thousands), showing their reliance on credit and their debt levels.
  - **Range**: 0.00 - 22.12
  - **Mean**: 3.51
  - **Skewness**: Right-skewed (positive skew).


- **othdebt**: The amount of other debt the applicant has (in thousands), which includes all other forms of debt apart from credit card debt.
  - **Range**: 0.00 - 57.03
  - **Mean**: 5.05
  - **Skewness**: Right-skewed (positive skew).


- **ed**: The education level of the applicant (encoded numerically), where higher numbers may represent higher levels of education.
  - **Unique Values**: 1.0, 2.0, 3.0, 4.0, 5.0
  - **Most Frequent Value (Mode)**: 1.0


- **default**: A binary indicator of whether the applicant defaulted on the loan (1 for default, 0 for no default), indicating their credit risk.
  - **Unique Values**: 0, 1
  - **Most Frequent Value (Mode)**: 0 (majority did not default)

# 1. Feature Normalization

Feature normalization is a crucial step in the data preprocessing pipeline. It involves adjusting the values of numerical features to ensure they have a common scale, which can improve the performance and training stability of machine learning models. In this section, we will explore various normalization techniques and demonstrate how to apply them using practical examples.

### Why Normalize Features?

Normalization can help in:
- **Improving Model Performance**: Algorithms such as gradient descent converge faster with normalized data.
- **Enhancing Accuracy**: Normalization can reduce the impact of features with larger scales on the model.
- **Stability**: Models can become more stable and less sensitive to variations in the data.

### Techniques Covered:

1. **Min-Max Scaling**: This technique scales the features to a fixed range, typically [0, 1]. The formula is:

   $$
   X' = \frac{X - X_{min}}{X_{max} - X_{min}}
   $$

2. **Z-Score Standardization**: Also known as standardization, this method transforms features to have a mean of 0 and a standard deviation of 1. The formula is:

   $$
   X' = \frac{X - \mu}{\sigma}
   $$

   where \(\mu\) is the mean and \(\sigma\) is the standard deviation of the feature.

3. **Robust Scaling**: This method scales features using statistics that are robust to outliers, such as the median and the interquartile range. The formula is:

   $$
   X' = \frac{X - Q2}{Q3 - Q1}
   $$

   where \(Q1\) and \(Q3\) are the 1st and 3rd quartiles, respectively, and \(Q2\) is the median.

4. **Yeo-Johnson Transformation**: This technique can handle both positive and negative values and transforms the data to be more normally distributed.

5. **Box-Cox Transformation**: This method works with positive values and transforms the data to be more normally distributed, reducing skewness.

### Why Split Train and Test Data?

Splitting the data into training and testing sets is a crucial step in the machine learning pipeline. It ensures that the model's performance can be evaluated on unseen data, providing a more realistic estimate of its effectiveness in real-world scenarios. By keeping the test data separate:
- **Avoid Data Leakage**: Ensures that information from the test set does not influence the model during training.
- **Model Evaluation**: Provides an unbiased evaluation metric for how well the model generalizes to new data.
- **Hyperparameter Tuning**: Helps in tuning model parameters by validating performance on the test set.

Let's see how to apply these transformations to our dataset after splitting the data into training and testing sets.

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

# Split the dataset into training and testing sets
train_data, test_data = train_test_split(data.copy(), test_size=0.2, random_state=42)

# 1.1 Min-Max Scaling

Min-Max Scaling transforms features by scaling them to a given range, usually [0, 1]. This technique is useful when the features have different ranges and you want to ensure they contribute equally to the analysis.

### Columns

For our dataset, the following columns are suitable for Min-Max Scaling:
- `age`
- `debtinc`
- `creddebt`

### Applying Min-Max Scaling

Let's apply Min-Max Scaling to these columns.

In [4]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select the columns to scale
columns_to_scale = ['age', 'debtinc', 'creddebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_min_max_scaled = train_data.copy()
test_data_min_max_scaled = test_data.copy()

train_data_min_max_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_min_max_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Min-Max Scaled Data (Train):")
display(train_data_min_max_scaled.head(20))

Min-Max Scaled Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
82,0.472222,7,3,32.0,0.469438,0.167622,3.575040,1.0,0
51,0.722222,1,12,20.0,0.332518,0.049782,1.990800,1.0,0
220,0.222222,11,6,24.0,0.048900,0.005958,0.468864,1.0,0
669,0.444444,10,4,43.0,0.308068,0.059288,4.628520,3.0,0
545,0.638889,10,24,37.0,0.198044,0.041479,2.468825,2.0,0
302,0.750000,22,19,81.0,0.124694,0.093266,2.949210,1.0,0
577,0.805556,22,4,79.0,0.168704,0.017270,5.478650,2.0,0
215,0.388889,12,8,47.0,0.154034,0.080453,1.848463,3.0,0
235,0.111111,7,0,18.0,0.149144,0.032136,0.643500,1.0,0
18,0.527778,6,9,61.0,0.129584,0.034431,2.913726,1.0,0
250,0.722222,22,17,144.0,0.261614,0.206805,12.659328,2.0,0
260,0.750000,15,1,30.0,0.589242,0.137371,5.137650,1.0,0
430,0.388889,12,5,NaN,0.603912,0.487238,9.250856,1.0,1
264,0.527778,9,6,35.0,0.112469,0.013799,1.517250,1.0,0
61,0.250000,13,1,42.0,0.171149,0.090261,1.650348,1.0,1
213,0.416667,5,3,37.0,0.122249,0.035564,1.416582,3.0,1
377,0.166667,1,0,21.0,0.110024,0.037232,0.420861,1.0,0
29,0.166667,2,1,37.0,0.337408,0.012061,5.049094,3.0,0
182,0.694444,16,21,80.0,0.063570,0.056200,1.488000,3.0,0
306,0.444444,11,12,44.0,0.349633,0.027129,6.021708,3.0,0

# 1.2 Z-Score Standardization

Z-Score Standardization, also known as standardization, transforms features to have a mean of 0 and a standard deviation of 1. This method is less sensitive to outliers and ensures that each feature contributes equally to the analysis.

### Columns

For our dataset, the following columns are suitable for Z-Score Standardization:
- `age`
- `debtinc`
- `creddebt`

### Applying Z-Score Standardization

Let's apply Z-Score Standardization to these columns.

In [5]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Select the columns to scale
columns_to_scale = ['age', 'debtinc', 'creddebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_z_score_scaled = train_data.copy()
test_data_z_score_scaled = test_data.copy()

train_data_z_score_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_z_score_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Z-Score Standardized Data (Train):")
display(train_data_z_score_scaled.head(20))

Z-Score Standardized Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
82,0.284110,7,3,32.0,1.359338,0.586868,3.575040,1.0,0
51,1.398167,1,12,20.0,0.539773,-0.358670,1.990800,1.0,0
220,-0.829948,11,6,24.0,-1.157897,-0.710318,0.468864,1.0,0
669,0.160326,10,4,43.0,0.393423,-0.282396,4.628520,3.0,0
545,1.026815,10,24,37.0,-0.265156,-0.425299,2.468825,2.0,0
302,1.521952,22,19,81.0,-0.704209,-0.009763,2.949210,1.0,0
577,1.769520,22,4,79.0,-0.440778,-0.619552,5.478650,2.0,0
215,-0.087243,12,8,47.0,-0.528588,-0.112570,1.848463,3.0,0
235,-1.325084,7,0,18.0,-0.557858,-0.500268,0.643500,1.0,0
18,0.531678,6,9,61.0,-0.674939,-0.481849,2.913726,1.0,0
250,1.398167,22,17,144.0,0.115356,0.901275,12.659328,2.0,0
260,1.521952,15,1,30.0,2.076458,0.344138,5.137650,1.0,0
430,-0.087243,12,5,NaN,2.164268,3.151457,9.250856,1.0,1
264,0.531678,9,6,35.0,-0.777385,-0.647401,1.517250,1.0,0
61,-0.706164,13,1,42.0,-0.426142,-0.033874,1.650348,1.0,1
213,0.036541,5,3,37.0,-0.718844,-0.472761,1.416582,3.0,1
377,-1.077516,1,0,21.0,-0.792020,-0.459377,0.420861,1.0,0
29,-1.077516,2,1,37.0,0.569044,-0.661347,5.049094,3.0,0
182,1.274383,16,21,80.0,-1.070086,-0.307179,1.488000,3.0,0
306,0.160326,11,12,44.0,0.642219,-0.540442,6.021708,3.0,0

# 1.3 Robust Scaling

Robust Scaling uses statistics that are robust to outliers, such as the median and the interquartile range, to scale features. This method is useful when the dataset contains outliers that could skew the results of standard scaling methods.

### Columns

For our dataset, the following columns are suitable for Robust Scaling:
- `income`
- `othdebt`

### Applying Robust Scaling

Let's apply Robust Scaling to these columns.

In [6]:
from sklearn.preprocessing import RobustScaler

# Initialize the RobustScaler
scaler = RobustScaler()

# Select the columns to scale
columns_to_scale = ['income', 'othdebt']

# Fit the scaler to the training data and transform both training and testing data
train_data_robust_scaled = train_data.copy()
test_data_robust_scaled = test_data.copy()

train_data_robust_scaled[columns_to_scale] = scaler.fit_transform(train_data[columns_to_scale])
test_data_robust_scaled[columns_to_scale] = scaler.transform(test_data[columns_to_scale])

# Display the first few rows of the transformed training dataset to verify the scaling
print("Robust Scaled Data (Train):")
display(train_data_robust_scaled.head(20))

Robust Scaled Data (Train):

      age  employ  address    income  debtinc  creddebt   othdebt   ed default
82   37.0       7        3 -0.066116     19.6  2.696960  0.555355  1.0       0
51   46.0       1       12 -0.462810     14.0  0.809200  0.014302  1.0       0
220  28.0      11        6 -0.330579      2.4  0.107136 -0.505473  1.0       0
669  36.0      10        4  0.297521     13.0  0.961480  0.915142  3.0       0
545  43.0      10       24  0.099174      8.5  0.676175  0.177558  2.0       0
302  47.0      22       19  1.553719      5.5  1.505790  0.341620  1.0       0
577  49.0      22        4  1.487603      7.3  0.288350  1.205481  2.0       0
215  34.0      12        8  0.429752      6.7  1.300537 -0.034309  3.0       0
235  24.0       7        0 -0.528926      6.5  0.526500 -0.445831  1.0       0
18   39.0       6        9  0.892562      5.7  0.563274  0.329502  1.0       0
250  46.0      22       17  3.636364     11.1  3.324672  3.657843  2.0       0
260  47.0      15        1 -0.132231     24.5  2.212350  1.089022  1.0       0
430  34.0      12        5       NaN     25.1  7.817144  2.493773  1.0       1
264  39.0       9        6  0.033058      5.0  0.232750 -0.147426  1.0       0
61   29.0      13        1  0.264463      7.4  1.457652 -0.101970  1.0       1
213  35.0       5        3  0.099174      5.4  0.581418 -0.181806  3.0       1
377  26.0       1        0 -0.429752      4.9  0.608139 -0.521867  1.0       0
29   26.0       2        1  0.099174     14.2  0.204906  1.058778  3.0       0
182  45.0      16       21  1.520661      3.0  0.912000 -0.157416  3.0       0
306  36.0      11       12  0.330579     14.7  0.446292  1.390947  3.0       0

# 1.4 Yeo-Johnson and Box-Cox Transformations

The Yeo-Johnson and Box-Cox transformations are power transformations used to stabilize variance and make the data more normally distributed. Yeo-Johnson can handle both positive and negative values, whereas Box-Cox is only applicable to positive values.

### Columns

For our dataset, we will check the following columns for negative values and apply the appropriate transformation:
- `age`
- `income`
- `debtinc`
- `creddebt`
- `othdebt`

### Applying Transformations

Let's check for negative values in the columns and apply the Yeo-Johnson Transformation to columns with negative values and the Box-Cox Transformation to columns with only positive values.

In [7]:
from sklearn.preprocessing import PowerTransformer
import numpy as np

# Check if any column contains negative values
columns_to_check = ['age', 'income', 'debtinc', 'creddebt', 'othdebt']
contains_negative = {col: np.any(train_data[col] < 0) for col in columns_to_check}

# Initialize the PowerTransformers
yeo_johnson_transformer = PowerTransformer(method='yeo-johnson')
box_cox_transformer = PowerTransformer(method='box-cox')

# Make copies of the train and test data for transformations
train_data_yeo_johnson = train_data.copy()
test_data_yeo_johnson = test_data.copy()
train_data_box_cox = train_data.copy()
test_data_box_cox = test_data.copy()

# Apply Yeo-Johnson transformation to columns with negative values
columns_to_transform_yeo_johnson = [col for col, has_negative in contains_negative.items() if has_negative]
if columns_to_transform_yeo_johnson:
    train_data_yeo_johnson[columns_to_transform_yeo_johnson] = yeo_johnson_transformer.fit_transform(train_data[columns_to_transform_yeo_johnson])
    test_data_yeo_johnson[columns_to_transform_yeo_johnson] = yeo_johnson_transformer.transform(test_data[columns_to_transform_yeo_johnson])
    print("Yeo-Johnson Transformed Data (Train):")
    display(train_data_yeo_johnson.head(20))
else:
    print("No columns with negative values for Yeo-Johnson transformation.")

# Apply Box-Cox transformation to columns with only positive values
columns_to_transform_box_cox = [col for col, has_negative in contains_negative.items() if not has_negative]
if columns_to_transform_box_cox:
    train_data_box_cox[columns_to_transform_box_cox] = box_cox_transformer.fit_transform(train_data[columns_to_transform_box_cox])
    test_data_box_cox[columns_to_transform_box_cox] = box_cox_transformer.transform(test_data[columns_to_transform_box_cox])
    print("Box-Cox Transformed Data (Train):")
    display(train_data_box_cox.head(20))
else:
    print("No columns with only positive values for Box-Cox transformation.")

No columns with negative values for Yeo-Johnson transformation.
Box-Cox Transformed Data (Train):

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
82,0.384146,7,3,-0.135337,1.288082,1.023360,0.611572,1.0,0
51,1.328151,1,12,-1.155792,0.712413,-0.083387,-0.004731,1.0,0
220,-0.805779,11,6,-0.730787,-1.533411,-1.681537,-1.444962,1.0,0
669,0.266254,10,4,0.392040,0.593028,0.067530,0.889788,3.0,0
545,1.034370,10,24,0.133693,-0.043860,-0.237989,0.219529,2.0,0
302,1.422093,22,19,1.287804,-0.619569,0.471860,0.406806,1.0,0
577,1.604484,22,4,1.257632,-0.253484,-0.937001,1.073571,2.0,0
215,0.020958,12,8,0.535910,-0.367585,0.337895,-0.081424,3.0,0
235,-1.455091,7,0,-1.419953,-0.407226,-0.449053,-1.139282,1.0,0
18,0.611228,6,9,0.922030,-0.575032,-0.392589,0.393998,1.0,0
250,1.328151,22,17,1.886068,0.346932,1.228878,2.011969,2.0,0
260,1.422093,15,1,-0.261452,1.702184,0.832520,1.003330,1.0,0
430,0.020958,12,5,NaN,1.748722,2.112030,1.655468,1.0,1
264,0.611228,9,6,0.033056,-0.736167,-1.104031,-0.284052,1.0,0
61,-0.657095,13,1,0.352881,-0.235120,0.441997,-0.198030,1.0,1
213,0.145249,5,3,0.133693,-0.642268,-0.365950,-0.353992,3.0,1
377,-1.118713,1,0,-1.038173,-0.760470,-0.328058,-1.548038,1.0,0
29,-1.118713,2,1,0.133693,0.735560,-1.201793,0.984368,3.0,0
182,1.232273,16,21,1.272860,-1.308798,0.021027,-0.303910,3.0,0
306,0.266254,11,12,0.429851,0.792431,-0.585772,1.177325,3.0,0

# 2. Feature Construction

Feature construction involves creating new features from existing ones to enhance the predictive power of your models. This can be done using domain knowledge, statistical relationships between features, and various encoding techniques. In this section, we will explore various methods of feature construction and demonstrate how to apply them using practical examples.

### Why Construct New Features?

Constructing new features can help in:
- **Improving Model Performance**: New features can provide additional information that helps the model make better predictions.
- **Capturing Non-Linear Relationships**: Interactions and transformations of existing features can capture non-linear relationships.
- **Reducing Dimensionality**: Aggregating features can reduce the number of dimensions, making models simpler and faster.

### Techniques Covered:

1. **Use of Domain Knowledge**: Incorporate insights from the specific field or industry to construct meaningful features.
2. **Using Statistical Relationships Between Features**: Identify and utilize correlations and interactions between features.
3. **Numerical Coding of Nominal Values**:
   - **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
   - **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
   - **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.


Let's explore and apply various feature construction techniques to our dataset.

# 2.1 Use of Domain Knowledge

Incorporating domain knowledge can help create meaningful features that enhance model performance. For our loan dataset, we can create several new features based on common financial metrics used to evaluate a borrower's creditworthiness.

### New Features:

1. **Debt-to-Income Ratio**: A metric to evaluate a borrower's ability to manage monthly payments and repay debts.


   $$
   \text{Debt-to-Income Ratio} = \frac{\text{creddebt} + \text{othdebt}}{\text{income}}
   $$
   

2. **Income per Year of Employment**: Indicates the stability and substantiality of a person's income relative to their employment duration.


   $$
   \text{Income per Year of Employment} = \frac{\text{income}}{\text{employ} + 1}
   $$


3. **Credit-to-Income Ratio**: Assesses how much of a person's income is used to pay off credit debt.


   $$
   \text{Credit-to-Income Ratio} = \frac{\text{creddebt}}{\text{income}}
   $$


4. **Total Debt**: Sum of all debts to gauge the total debt burden.


   $$
   \text{Total Debt} = \text{creddebt} + \text{othdebt}
   $$


5. **Monthly Debt Payment Burden**: Evaluates the monthly debt payment burden relative to monthly income.


   $$
   \text{Monthly Debt Payment Burden} = \frac{\text{Total Debt}}{\text{income} / 12}
   $$

Let's create these new features in our dataset.

In [8]:
# Make a copy of the original dataset
data_domain_features = data.copy()

# 1. Debt-to-Income Ratio
data_domain_features['debt_to_income_ratio'] = (data_domain_features['creddebt'] + data_domain_features['othdebt']) / data_domain_features['income']

# 2. Income per Year of Employment
data_domain_features['income_per_year_employ'] = data_domain_features['income'] / (data_domain_features['employ'] + 1)  # +1 to avoid division by zero

# 3. Credit-to-Income Ratio
data_domain_features['credit_to_income_ratio'] = data_domain_features['creddebt'] / data_domain_features['income']

# 4. Total Debt
data_domain_features['total_debt'] = data_domain_features['creddebt'] + data_domain_features['othdebt']

# 5. Monthly Debt Payment Burden
data_domain_features['monthly_debt_payment_burden'] = data_domain_features['total_debt'] / (data_domain_features['income'] / 12)

# Display the first 20 rows to verify the new features
data_domain_features[['debt_to_income_ratio', 'income_per_year_employ', 'credit_to_income_ratio', 'total_debt', 'monthly_debt_payment_burden']].head(20)

,debt_to_income_ratio,income_per_year_employ,credit_to_income_ratio,total_debt,monthly_debt_payment_burden
0,0.093,9.777778,0.064542,16.368,1.116
1,0.173,2.818182,0.043942,5.363,2.076
2,NaN,NaN,NaN,3.025,NaN
3,0.029,7.500000,0.022156,3.480,0.348
4,0.173,9.333333,0.063837,4.844,2.076
5,0.102,4.166667,0.015708,2.550,1.224
6,NaN,NaN,NaN,20.502,NaN
7,0.036,2.923077,0.003384,1.368,0.432
8,0.244,4.750000,0.071492,4.636,2.928
9,0.197,25.000000,0.111108,4.925,2.364
10,0.017,16.000000,0.011407,0.272,0.204
11,0.052,4.600000,0.010972,1.196,0.624
12,0.100,2.560000,0.061400,6.400,1.200
13,0.163,4.142857,0.059169,4.727,1.956
14,0.091,4.347826,0.037037,9.100,1.092
15,0.086,4.900000,0.016684,4.214,1.032
16,0.164,2.928571,0.071176,6.724,1.968
17,0.076,3.000000,0.016416,5.472,0.912
18,0.057,8.714286,0.009234,3.477,0.684
19,0.017,26.000000,0.003808,0.442,0.204

# 2.2 Using Statistical Relationships

Utilizing statistical relationships between features can help create new features that capture interactions and dependencies within the data. This can enhance the predictive power of your models by providing additional insights and improving their ability to detect patterns.

### New Features:

1. **Interaction Terms**: Capturing the interaction between two or more features can help in understanding the combined effect of these features.
2. **Polynomial Features**: Creating polynomial features can help in capturing non-linear relationships.
3. **Ratios and Differences**: Creating features based on ratios and differences between existing features.

Let's create these new features in our dataset.

In [9]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.impute import SimpleImputer
import pandas as pd

# Make a copy of the original dataset
data_stat_features = data.copy()

# Impute missing values with the mean for 'age' and 'income'
imputer = SimpleImputer(strategy='mean')
data_stat_features[['age', 'income']] = imputer.fit_transform(data_stat_features[['age', 'income']])

# 1. Interaction Terms
# Create interaction terms between 'income' and 'debtinc'
data_stat_features['income_debtinc_interaction'] = data_stat_features['income'] * data_stat_features['debtinc']

# 2. Polynomial Features
# Create polynomial features for 'age' and 'income'
poly = PolynomialFeatures(degree=2, include_bias=False)
poly_features = poly.fit_transform(data_stat_features[['age', 'income']])
poly_feature_names = poly.get_feature_names_out(['age', 'income'])
poly_df = pd.DataFrame(poly_features, columns=poly_feature_names, index=data_stat_features.index)
data_stat_features = pd.concat([data_stat_features, poly_df], axis=1)

# 3. Ratios and Differences
# Create ratio and difference features between 'creddebt' and 'othdebt'
data_stat_features['creddebt_othdebt_ratio'] = data_stat_features['creddebt'] / data_stat_features['othdebt']
data_stat_features['creddebt_othdebt_diff'] = data_stat_features['creddebt'] - data_stat_features['othdebt']

# Display the first 20 rows to verify the new features
data_stat_features[['income_debtinc_interaction', 'age', 'income', 'age^2', 'age income', 'income^2', 'creddebt_othdebt_ratio', 'creddebt_othdebt_diff']].head(20)

,income_debtinc_interaction,age,age,income,income,age^2,age income,income^2,creddebt_othdebt_ratio,creddebt_othdebt_diff
0,1636.800000,41.00,41.00,176.00000,176.00000,1681.0000,7216.00000,30976.000000,2.267974,6.350784
1,536.300000,27.00,27.00,31.00000,31.00000,729.0000,837.00000,961.000000,0.340483,-2.638596
2,251.589744,40.00,40.00,45.74359,45.74359,1600.0000,1829.74359,2092.476003,0.394700,-1.312850
3,348.000000,41.00,41.00,120.00000,120.00000,1681.0000,4920.00000,14400.000000,3.237288,1.837440
4,484.400000,24.00,24.00,28.00000,28.00000,576.0000,672.00000,784.000000,0.584786,-1.269128
5,255.000000,41.00,41.00,25.00000,25.00000,1681.0000,1025.00000,625.000000,0.182033,-1.764600
6,1399.753846,39.00,39.00,45.74359,45.74359,1521.0000,1784.00000,2092.476003,0.230012,-12.834252
7,136.800000,34.75,34.75,38.00000,38.00000,1207.5625,1320.50000,1444.000000,0.103753,-1.110816
8,463.600000,24.00,24.00,19.00000,19.00000,576.0000,456.00000,361.000000,0.414427,-1.919304
9,492.500000,36.00,36.00,25.00000,25.00000,1296.0000,900.00000,625.000000,1.293578,0.630400
10,27.200000,27.00,27.00,16.00000,16.00000,729.0000,432.00000,256.000000,2.039514,0.093024
11,119.600000,25.00,25.00,23.00000,23.00000,625.0000,575.00000,529.000000,0.267427,-0.691288
12,640.000000,52.00,52.00,64.00000,64.00000,2704.0000,3328.00000,4096.000000,1.590674,1.459200
13,472.700000,37.00,37.00,29.00000,29.00000,1369.0000,1073.00000,841.000000,0.569859,-1.295198
14,910.000000,48.00,48.00,100.00000,100.00000,2304.0000,4800.00000,10000.000000,0.686341,-1.692600
15,421.400000,36.00,36.00,49.00000,49.00000,1296.0000,1764.00000,2401.000000,0.240695,-2.578968
16,672.400000,36.00,36.00,41.00000,41.00000,1296.0000,1476.00000,1681.000000,0.766784,-0.887568
17,547.200000,43.00,43.00,72.00000,72.00000,1849.0000,3096.00000,5184.000000,0.275510,-3.108096
18,347.700000,39.00,39.00,61.00000,61.00000,1521.0000,2379.00000,3721.000000,0.193317,-2.350452
19,44.200000,34.75,34.75,26.00000,26.00000,1207.5625,903.50000,676.000000,0.288660,-0.243984

# 2.3 Numerical Coding of Nominal Values - One-Hot Encoding

One-Hot Encoding is a technique used to convert categorical variables into a format that can be provided to machine learning algorithms to improve predictions. It transforms each unique category value into a new binary column.

### New Features:

1. **One-Hot Encoding**: Convert categorical variables into a series of binary variables.

Let's apply One-Hot Encoding to the suitable columns in our dataset.

In [10]:
import pandas as pd

# Make a copy of the original dataset
data_one_hot_encoded = data.copy()

# Select the columns to apply One-Hot Encoding
# Assume 'ed' and 'default' are categorical features suitable for One-Hot Encoding
columns_to_encode = ['ed', 'default']

# Apply One-Hot Encoding to the selected columns
data_one_hot_encoded = pd.get_dummies(data_one_hot_encoded, columns=columns_to_encode, drop_first=True)

# Display the first 20 rows to verify the One-Hot Encoding
data_one_hot_encoded.head(20)

,age,employ,address,income,debtinc,creddebt,othdebt,ed_2.0,ed_3.0,ed_4.0,ed_5.0,default_1
0,41.0,17,12,176.0,9.3,11.359392,5.008608,False,True,False,False,True
1,27.0,10,6,31.0,17.3,1.362202,4.000798,False,False,False,False,False
2,40.0,15,7,NaN,5.5,0.856075,2.168925,False,False,False,False,False
3,41.0,15,14,120.0,2.9,2.658720,0.821280,False,False,False,False,False
4,24.0,2,0,28.0,17.3,1.787436,3.056564,True,False,False,False,True
5,41.0,5,5,25.0,10.2,0.392700,2.157300,True,False,False,False,False
6,39.0,20,9,NaN,30.6,3.833874,16.668126,False,False,False,False,False
7,NaN,12,11,38.0,3.6,0.128592,1.239408,False,False,False,False,False
8,24.0,3,4,19.0,24.4,1.358348,3.277652,False,False,False,False,True
9,36.0,0,13,25.0,19.7,2.777700,2.147300,False,False,False,False,False
10,27.0,0,1,16.0,1.7,0.182512,0.089488,False,False,False,False,False
11,25.0,4,0,23.0,5.2,0.252356,0.943644,False,False,False,False,False
12,52.0,24,14,64.0,10.0,3.929600,2.470400,False,False,False,False,False
13,37.0,6,9,29.0,16.3,1.715901,3.011099,False,False,False,False,False
14,48.0,22,15,100.0,9.1,3.703700,5.396300,False,False,False,False,False
15,36.0,9,6,49.0,8.6,0.817516,3.396484,True,False,False,False,True
16,36.0,13,6,41.0,16.4,2.918216,3.805784,True,False,False,False,True
17,43.0,23,19,72.0,7.6,1.181952,4.290048,False,False,False,False,False
18,39.0,6,9,61.0,5.7,0.563274,2.913726,False,False,False,False,False
19,NaN,0,21,26.0,1.7,0.099008,0.342992,False,False,False,False,False

# 2.3 Numerical Coding of Nominal Values

Numerical coding of nominal values is a method to convert categorical data into numerical format, which can be easily used by machine learning models. This process is crucial when dealing with categorical features as many algorithms cannot handle non-numeric data directly.

### Techniques Covered:

1. **One-Hot Encoding**: Convert categorical variables into a series of binary variables.
2. **Ordinal or Label Encoding**: Assign integer values to categories based on their order or labels.
3. **Probability Ratio Encoding**: Encode categorical features based on the probability ratio of the target variable.

Let's apply these techniques to our dataset.

# 2.3.1 One-Hot Encoding

One-Hot Encoding is a technique used to convert categorical variables into a series of binary variables (0 or 1). Each category in the original variable is represented as a separate column, with a 1 indicating the presence of that category and a 0 indicating its absence. This technique is useful when there is no ordinal relationship between the categories.

### Example

For our dataset, we'll apply one-hot encoding to the `ed` and `default` columns, which represents education levels.

Let's apply one-hot encoding to our dataset.

In [11]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Make a copy of the original dataset
data_one_hot_encoded = data.copy()

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity

# Select the columns to encode
columns_to_encode = ['ed', 'default']

# Fit and transform the encoder on the selected columns
encoded_data = encoder.fit_transform(data_one_hot_encoded[columns_to_encode])

# Create a DataFrame with the encoded data
encoded_columns = encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns, index=data_one_hot_encoded.index)

# Concatenate the encoded columns with the original dataset (excluding the original categorical columns)
data_one_hot_encoded = pd.concat([data_one_hot_encoded.drop(columns_to_encode, axis=1), encoded_df], axis=1)

# Display the first 20 rows to verify the one-hot encoding
data_one_hot_encoded.head(20)

,age,employ,address,income,debtinc,creddebt,othdebt,ed_2.0,ed_3.0,ed_4.0,ed_5.0,ed_nan,default_1
0,41.0,17,12,176.0,9.3,11.359392,5.008608,0.0,1.0,0.0,0.0,0.0,1.0
1,27.0,10,6,31.0,17.3,1.362202,4.000798,0.0,0.0,0.0,0.0,0.0,0.0
2,40.0,15,7,NaN,5.5,0.856075,2.168925,0.0,0.0,0.0,0.0,0.0,0.0
3,41.0,15,14,120.0,2.9,2.658720,0.821280,0.0,0.0,0.0,0.0,1.0,0.0
4,24.0,2,0,28.0,17.3,1.787436,3.056564,1.0,0.0,0.0,0.0,0.0,1.0
5,41.0,5,5,25.0,10.2,0.392700,2.157300,1.0,0.0,0.0,0.0,0.0,0.0
6,39.0,20,9,NaN,30.6,3.833874,16.668126,0.0,0.0,0.0,0.0,0.0,0.0
7,NaN,12,11,38.0,3.6,0.128592,1.239408,0.0,0.0,0.0,0.0,0.0,0.0
8,24.0,3,4,19.0,24.4,1.358348,3.277652,0.0,0.0,0.0,0.0,0.0,1.0
9,36.0,0,13,25.0,19.7,2.777700,2.147300,0.0,0.0,0.0,0.0,0.0,0.0
10,27.0,0,1,16.0,1.7,0.182512,0.089488,0.0,0.0,0.0,0.0,0.0,0.0
11,25.0,4,0,23.0,5.2,0.252356,0.943644,0.0,0.0,0.0,0.0,0.0,0.0
12,52.0,24,14,64.0,10.0,3.929600,2.470400,0.0,0.0,0.0,0.0,0.0,0.0
13,37.0,6,9,29.0,16.3,1.715901,3.011099,0.0,0.0,0.0,0.0,0.0,0.0
14,48.0,22,15,100.0,9.1,3.703700,5.396300,0.0,0.0,0.0,0.0,0.0,0.0
15,36.0,9,6,49.0,8.6,0.817516,3.396484,1.0,0.0,0.0,0.0,0.0,1.0
16,36.0,13,6,41.0,16.4,2.918216,3.805784,1.0,0.0,0.0,0.0,0.0,1.0
17,43.0,23,19,72.0,7.6,1.181952,4.290048,0.0,0.0,0.0,0.0,0.0,0.0
18,39.0,6,9,61.0,5.7,0.563274,2.913726,0.0,0.0,0.0,0.0,0.0,0.0
19,NaN,0,21,26.0,1.7,0.099008,0.342992,0.0,0.0,0.0,0.0,1.0,0.0

# 2.3.2 Ordinal or Label Encoding

Ordinal or Label Encoding is a technique used to convert categorical variables into integer values based on their order or labels. This technique is useful when there is an ordinal relationship between the categories, or when simply converting categorical data into a numerical format.

### Example

For our dataset, we'll apply label encoding to the `ed` column, which represents education levels, and the `default` column, which represents default status.

Let's apply label encoding to our dataset.

In [12]:
from sklearn.preprocessing import LabelEncoder

# Make a copy of the original dataset
data_label_encoded = data.copy()

# Initialize the LabelEncoder for 'ed' and 'default'
label_encoder_ed = LabelEncoder()
label_encoder_default = LabelEncoder()

# Fit and transform the 'ed' column
data_label_encoded['ed'] = label_encoder_ed.fit_transform(data_label_encoded['ed'])

# Fit and transform the 'default' column
data_label_encoded['default'] = label_encoder_default.fit_transform(data_label_encoded['default'])

# Display the first 20 rows to verify the label encoding
data_label_encoded[['ed', 'default']].head(20)

    ed  default
0    2        1
1    0        0
2    0        0
3    5        0
4    1        1
5    1        0
6    0        0
7    0        0
8    0        1
9    0        0
10   0        0
11   0        0
12   0        0
13   0        0
14   0        0
15   1        1
16   1        1
17   0        0
18   0        0
19   5        0

# 2.3.3 Probability Ratio Encoding

Probability Ratio Encoding is a technique that encodes categorical features based on the probability ratio of the target variable for each category. This method is particularly useful when the categories have a predictive relationship with the target variable.

### Example

For our dataset, we'll apply probability ratio encoding to the `ed` column, which represents education levels, using the `default` column as the target variable.

Let's apply probability ratio encoding to our dataset.

In [13]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

import category_encoders as ce
import pandas as pd

# Make a copy of the original dataset
data_prob_ratio_encoded = data.copy()

# Initialize the TargetEncoder (Probability Ratio Encoder)
prob_ratio_encoder = ce.TargetEncoder(cols=['ed'])

# Fit the encoder to the data and transform the 'ed' column
data_prob_ratio_encoded['ed_prob_ratio'] = prob_ratio_encoder.fit_transform(data_prob_ratio_encoded['ed'], data_prob_ratio_encoded['default'])

# Display the first 20 rows to verify the probability ratio encoding
data_prob_ratio_encoded[['ed', 'ed_prob_ratio']].head(20)

     ed ed_prob_ratio
0   3.0      0.368869
1   1.0      0.209366
2   1.0      0.209366
3   NaN      0.255714
4   2.0      0.291667
5   2.0      0.291667
6   1.0      0.209366
7   1.0      0.209366
8   1.0      0.209366
9   1.0      0.209366
10  1.0      0.209366
11  1.0      0.209366
12  1.0      0.209366
13  1.0      0.209366
14  1.0      0.209366
15  2.0      0.291667
16  2.0      0.291667
17  1.0      0.209366
18  1.0      0.209366
19  NaN      0.255714