# Pandas Fun Problems - Advanced

Dive even deeper, focusing on sophisticated Pandas techniques and operations. This notebook is designed to push your data manipulation skills further, leveraging the full power of Pandas for complex data analysis tasks.

Before you start with these advanced problems, I highly recommend checking out the previous part of this series, **[Pandas Fun Problems - DataFrame](https://www.kaggle.com/code/matinmahmoudi/pandas-fun-problems-dataframe)**. It lays the groundwork with fundamental concepts and operations that are crucial for tackling the advanced challenges presented here. Trust me, it's worth your time and will ensure you're well-prepared for what's ahead.

- **Practice Problems Source:** [Explore Problems](https://www.practiceprobs.com/problemsets/python-pandas/advanced/)
- **YouTube Tutorial:** [Video Guide](https://www.youtube.com/watch?v=8xUgesdShE8)


Feel free to share your thoughts, solutions, and any questions in the comments. Your contributions help make this learning journey richer for everyone.

### **Found this notebook helpful? Don't forget to give it an upvote!**

# Q1 - Class Transitions Problem

https://www.practiceprobs.com/problemsets/python-pandas/advanced/class-transitions/

You have a DataFrame called schedules that represents the daily schedule of each student in a school. For example, If Ryan attends four classes - math, english, history, and chemistry, your schedules DataFrame will have four rows for Ryan in the order he attends each class.

In [1]:
import numpy as np
import pandas as pd

generator = np.random.default_rng(seed=1234)
classes = ['english', 'math', 'history', 'chemistry', 'gym', 'civics', 'writing', 'engineering']

schedules = pd.DataFrame({
    'student_id':np.repeat(np.arange(100), 4),
    'class':generator.choice(classes, size=400, replace=True)
}).drop_duplicates()
schedules['grade'] = generator.integers(101, size=schedules.shape[0])

print(schedules)
#      student_id        class  grade
# 0             0  engineering     86
# 3             0    chemistry     75
# 4             1         math     85
# 5             1  engineering      0
# 6             1      english     73
# ..          ...          ...    ...
# 394          98      writing     16
# 395          98       civics     89
# 396          99  engineering     90
# 398          99         math     55
# 399          99      history     31
# 
# [339 rows x 3 columns]

     student_id        class  grade
0             0  engineering     86
3             0    chemistry     75
4             1         math     85
5             1  engineering      0
6             1      english     73
..          ...          ...    ...
394          98      writing     16
395          98       civics     89
396          99  engineering     90
398          99         math     55
399          99      history     31

[339 rows x 3 columns]

You have this theory that the sequence of class-to-class transitions affects students' grades. For instance, you suspect Ryan would do better in his Chemistry class if it immediately followed his Math class instead of his History class.

Determine the average and median Chemistry grade for groups of students based on the class they have immediately prior to Chemistry. Also report how many students fall into each group.

## Solution

In [2]:
# Create a new column 'prev_class' that represents the class that each student had immediately prior to their current class
schedules['prev_class'] = schedules.groupby('student_id')['class'].shift()
schedules['prev_class']

0              NaN
3      engineering
4              NaN
5             math
6      engineering
          ...
394           math
395        writing
396            NaN
398    engineering
399           math
Name: prev_class, Length: 339, dtype: object

In [3]:
# Calculate the average and median Chemistry grade for groups of students based on the class they have immediately prior to Chemistry
class_pairs = schedules.groupby(['prev_class', 'class']).agg(
    students=('student_id', 'count'),
    avg_grade=('grade', 'mean'),
    med_grade=('grade', 'median')
)
class_pairs

                         students  avg_grade  med_grade
prev_class  class
chemistry   civics              1  19.000000       19.0
            engineering         2  50.000000       50.0
            english             5  55.200000       50.0
            gym                 5  36.600000       25.0
            history             6  53.166667       55.0
            math                3  38.000000       10.0
            writing             5  70.200000       85.0
civics      chemistry           2  55.000000       55.0
            engineering         3  76.666667       78.0
            english             2  93.000000       93.0
            gym                 2  41.500000       41.5
            history             7  52.571429       54.0
            math                6  48.166667       49.0
            writing             4  29.750000       33.5
engineering chemistry           6  43.333333       43.5
            civics              5  43.600000       46.0
            english             7  43.000000       29.0
            gym                 5  42.800000       36.0
            history             6  45.666667       41.0
            math                3  37.666667       50.0
            writing             6  69.333333       80.0
english     chemistry           6  32.666667       31.5
            civics              8  44.000000       44.5
            engineering         5  36.000000       33.0
            gym                 3  62.666667       58.0
            history             3  47.000000       50.0
            math                7  42.428571       42.0
            writing             3  52.333333       59.0
gym         chemistry           2  68.500000       68.5
            civics              6  59.000000       58.5
            engineering         1  65.000000       65.0
            english             4  49.750000       52.0
            history             7  38.857143       32.0
            math                5  67.600000       72.0
            writing             1  38.000000       38.0
history     chemistry           3  35.333333       27.0
            civics              5  46.200000       30.0
            engineering         3  81.000000       85.0
            english             3  84.333333       79.0
            gym                 4  52.750000       55.5
            math                5  55.600000       46.0
            writing             5  29.400000       32.0
math        chemistry           3  26.000000       23.0
            civics              4  49.250000       54.0
            engineering         7  52.714286       58.0
            english             5  51.400000       53.0
            gym                 3  56.333333       70.0
            history             3  56.000000       56.0
            writing             5  44.400000       31.0
writing     chemistry           3  45.333333       46.0
            civics              2  83.000000       83.0
            engineering         8  57.750000       74.0
            english             5  45.800000       45.0
            gym                 4  61.250000       69.0
            history             2  31.000000       31.0
            math                5  62.800000       68.0

In [4]:
# Filter the class_pairs DataFrame for chemistry grades
filtered_class_pairs = class_pairs.xs(key='chemistry', axis=0, level=1, drop_level=False)
filtered_class_pairs

                       students  avg_grade  med_grade
prev_class  class
civics      chemistry         2  55.000000       55.0
engineering chemistry         6  43.333333       43.5
english     chemistry         6  32.666667       31.5
gym         chemistry         2  68.500000       68.5
history     chemistry         3  35.333333       27.0
math        chemistry         3  26.000000       23.0
writing     chemistry         3  45.333333       46.0

In [5]:
# Sort the filtered_class_pairs DataFrame by median grade
sorted_class_pairs = filtered_class_pairs.sort_values('med_grade')
sorted_class_pairs

                       students  avg_grade  med_grade
prev_class  class
math        chemistry         3  26.000000       23.0
history     chemistry         3  35.333333       27.0
english     chemistry         6  32.666667       31.5
engineering chemistry         6  43.333333       43.5
writing     chemistry         3  45.333333       46.0
civics      chemistry         2  55.000000       55.0
gym         chemistry         2  68.500000       68.5

# Q2 - Rose Thorn Problem

https://www.practiceprobs.com/problemsets/python-pandas/advanced/rose-thorn/

You developed a multiplayer indie game called 🌹 Rose Thorn. Players compete in one of two venues - the ocean or the desert. You track the outcome of five games between three players in a DataFrame called games.

In [6]:
import numpy as np
import pandas as pd

games = pd.DataFrame({
    'bella1':   ['2nd', '3rd', '1st', '2nd', '3rd'],
    'billybob': ['1st', '2nd', '2nd', '1st', '2nd'],
    'nosoup4u': ['3rd', '1st', '3rd', '3rd', '3rd'],
    'venue': ['desert', 'ocean', 'desert', 'ocean', 'desert']
})

print(games)
#   bella1 billybob nosoup4u   venue
# 0    2nd      1st      3rd  desert
# 1    3rd      2nd      1st   ocean
# 2    1st      2nd      3rd  desert
# 3    2nd      1st      3rd   ocean
# 4    3rd      2nd      3rd  desert

  bella1 billybob nosoup4u   venue
0    2nd      1st      3rd  desert
1    3rd      2nd      1st   ocean
2    1st      2nd      3rd  desert
3    2nd      1st      3rd   ocean
4    3rd      2nd      3rd  desert

Now you want to analyze the data. Convert the games DataFrame into a new DataFrame that identifies how many times each (player, placement) occurs per venue, specifically with venue as the row index and (player, placed) as the column MultiIndex.

## Solution

In [7]:
step1 = games.melt(id_vars='venue', var_name='player', value_name='placed')
step1['venue'] = pd.Categorical(step1.venue)
step1['player'] = pd.Categorical(step1.player)
step1['placed'] = pd.Categorical(step1.placed)
step1

     venue    player placed
0   desert    bella1    2nd
1    ocean    bella1    3rd
2   desert    bella1    1st
3    ocean    bella1    2nd
4   desert    bella1    3rd
5   desert  billybob    1st
6    ocean  billybob    2nd
7   desert  billybob    2nd
8    ocean  billybob    1st
9   desert  billybob    2nd
10  desert  nosoup4u    3rd
11   ocean  nosoup4u    1st
12  desert  nosoup4u    3rd
13   ocean  nosoup4u    3rd
14  desert  nosoup4u    3rd

In [8]:
step2 = step1.groupby(['venue', 'player', 'placed']).size()
step2

/tmp/ipykernel_19/4146095726.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  step2 = step1.groupby(['venue', 'player', 'placed']).size()

venue   player    placed
desert  bella1    1st       1
                  2nd       1
                  3rd       1
        billybob  1st       1
                  2nd       2
                  3rd       0
        nosoup4u  1st       0
                  2nd       0
                  3rd       3
ocean   bella1    1st       0
                  2nd       1
                  3rd       1
        billybob  1st       1
                  2nd       1
                  3rd       0
        nosoup4u  1st       1
                  2nd       0
                  3rd       1
dtype: int64

In [9]:
step3 = step2.unstack(level=['player', 'placed'])
step3

player bella1         billybob         nosoup4u
placed    1st 2nd 3rd      1st 2nd 3rd      1st 2nd 3rd
venue
desert      1   1   1        1   2   0        0   0   3
ocean       0   1   1        1   1   0        1   0   1

# Q3- Product Volumes Problem

https://www.practiceprobs.com/problemsets/python-pandas/advanced/product-volumes/

Given a Series of product descriptions like “birch table measures 3’x6’x2'”, estimate the volume of each product. (Note: 3' means 3 "feet" in the imperial system of units.)

In [10]:
import numpy as np
import pandas as pd

descriptions = pd.Series([
    "soft and fuzzy teddy bear, product dims: 1'x2'x1', shipping not included",
    "birch table measures 3'x6'x2'",
    "tortilla blanket ~ sleep like a fajita ~ 6'x8'x1'",
    "inflatable arm tube man | 12'x1'x1' when inflated",
    "dinosaur costume -- 6'x4'x2' -- for kids and small adults"
], dtype='string')

## Solution 1

In [11]:
dims = descriptions.str.extract(r"(\d+)'x(\d+)'x(\d+)'").astype('int64')
dims.product(axis=1)

0     2
1    36
2    48
3    12
4    48
dtype: int64

## Solution 2

In [12]:
dims = descriptions.str.extractall(r"(\d+)'").astype('int64')
dims.groupby(dims.index.get_level_values(0)).agg(pd.Series.product)

    0
0   2
1  36
2  48
3  12
4  48

# Q4 - Session Groups Problem

https://www.practiceprobs.com/problemsets/python-pandas/advanced/session-groups/

You run an ecommerce site called shoesfordogs.com . You want to analyze your visitors, so you compile a DataFrame called hits that represents each time a visitor hit some page on your site.

In [13]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

generator = np.random.default_rng(90)
products = ['iev','pys','vae','dah','yck','axl','apx','evu','wqv','tfg','aur','rgy','kef','lzj','kiz','oma']
hits = pd.DataFrame({
    'visitor_id':generator.choice(5, size=20, replace=True) + 1,
    'session_id':generator.choice(4, size=20, replace=True),
    'date_time':pd.to_datetime('2020-01-01') + pd.to_timedelta(generator.choice(60, size=20), unit='m'),
    'page_url':[f'shoesfordogs.com/product/{x}' for x in generator.choice(products, size=20, replace=True)]
})
hits['session_id'] = hits.visitor_id * 100 + hits.session_id

print(hits)

    visitor_id  session_id           date_time                      page_url
0            4         400 2020-01-01 00:05:00  shoesfordogs.com/product/pys
1            2         200 2020-01-01 00:18:00  shoesfordogs.com/product/oma
2            1         102 2020-01-01 00:48:00  shoesfordogs.com/product/evu
3            4         403 2020-01-01 00:21:00  shoesfordogs.com/product/oma
4            2         201 2020-01-01 00:40:00  shoesfordogs.com/product/yck
5            3         302 2020-01-01 00:33:00  shoesfordogs.com/product/pys
6            2         203 2020-01-01 00:37:00  shoesfordogs.com/product/rgy
7            3         302 2020-01-01 00:54:00  shoesfordogs.com/product/tfg
8            3         302 2020-01-01 00:48:00  shoesfordogs.com/product/kef
9            4         402 2020-01-01 00:24:00  shoesfordogs.com/product/apx
10           3         300 2020-01-01 00:49:00  shoesfordogs.com/product/kef
11           1         101 2020-01-01 00:52:00  shoesfordogs.com/product/iev
12           3         302 2020-01-01 00:01:00  shoesfordogs.com/product/dah
13           4         403 2020-01-01 00:02:00  shoesfordogs.com/product/lzj
14           4         401 2020-01-01 00:42:00  shoesfordogs.com/product/evu
15           5         500 2020-01-01 00:39:00  shoesfordogs.com/product/apx
16           5         503 2020-01-01 00:31:00  shoesfordogs.com/product/dah
17           3         303 2020-01-01 00:01:00  shoesfordogs.com/product/lzj
18           2         200 2020-01-01 00:16:00  shoesfordogs.com/product/aur
19           1         100 2020-01-01 00:11:00  shoesfordogs.com/product/apx

You suspect that the undocumented third-party tracking system on your website is buggy and sometimes splits one session into two or more session_ids. You want to correct this behavior by creating a field called session_group_id that stitches broken session_ids together.

Two session, A & B, should belong to the same session group if

They have the same visitor_id and
Their hits overlap in time or
The latest hit from A is within five minutes of the earliest hit from B, or vice-versa
Associativity applies. So, if A is grouped with B, and B is grouped with C, then A should be grouped with C as well.

Create a column in hits called session_group_id that identifies which hits belong to the same session group.

## Solution

In [14]:
hits.sort_values(by=['visitor_id', 'date_time'], inplace=True)
sessions = hits.groupby(['visitor_id', 'session_id']).agg(
  date_time_min=('date_time', 'min'),
  date_time_max=('date_time', 'max')
)
hits

    visitor_id  session_id           date_time                      page_url
19           1         100 2020-01-01 00:11:00  shoesfordogs.com/product/apx
2            1         102 2020-01-01 00:48:00  shoesfordogs.com/product/evu
11           1         101 2020-01-01 00:52:00  shoesfordogs.com/product/iev
18           2         200 2020-01-01 00:16:00  shoesfordogs.com/product/aur
1            2         200 2020-01-01 00:18:00  shoesfordogs.com/product/oma
6            2         203 2020-01-01 00:37:00  shoesfordogs.com/product/rgy
4            2         201 2020-01-01 00:40:00  shoesfordogs.com/product/yck
12           3         302 2020-01-01 00:01:00  shoesfordogs.com/product/dah
17           3         303 2020-01-01 00:01:00  shoesfordogs.com/product/lzj
5            3         302 2020-01-01 00:33:00  shoesfordogs.com/product/pys
8            3         302 2020-01-01 00:48:00  shoesfordogs.com/product/kef
10           3         300 2020-01-01 00:49:00  shoesfordogs.com/product/kef
7            3         302 2020-01-01 00:54:00  shoesfordogs.com/product/tfg
13           4         403 2020-01-01 00:02:00  shoesfordogs.com/product/lzj
0            4         400 2020-01-01 00:05:00  shoesfordogs.com/product/pys
3            4         403 2020-01-01 00:21:00  shoesfordogs.com/product/oma
9            4         402 2020-01-01 00:24:00  shoesfordogs.com/product/apx
14           4         401 2020-01-01 00:42:00  shoesfordogs.com/product/evu
16           5         503 2020-01-01 00:31:00  shoesfordogs.com/product/dah
15           5         500 2020-01-01 00:39:00  shoesfordogs.com/product/apx

In [15]:
sessions.sort_values(['visitor_id', 'date_time_min'], inplace=True)
sessions

                            date_time_min       date_time_max
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00
           102        2020-01-01 00:48:00 2020-01-01 00:48:00
           101        2020-01-01 00:52:00 2020-01-01 00:52:00
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00
           203        2020-01-01 00:37:00 2020-01-01 00:37:00
           201        2020-01-01 00:40:00 2020-01-01 00:40:00
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00
           303        2020-01-01 00:01:00 2020-01-01 00:01:00
           300        2020-01-01 00:49:00 2020-01-01 00:49:00
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00
           400        2020-01-01 00:05:00 2020-01-01 00:05:00
           402        2020-01-01 00:24:00 2020-01-01 00:24:00
           401        2020-01-01 00:42:00 2020-01-01 00:42:00
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00
           500        2020-01-01 00:39:00 2020-01-01 00:39:00

In [16]:
sessions['date_time_max_p5'] = sessions.date_time_max + pd.Timedelta(minutes=5)
sessions

                            date_time_min       date_time_max    date_time_max_p5
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00 2020-01-01 00:16:00
           102        2020-01-01 00:48:00 2020-01-01 00:48:00 2020-01-01 00:53:00
           101        2020-01-01 00:52:00 2020-01-01 00:52:00 2020-01-01 00:57:00
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00 2020-01-01 00:23:00
           203        2020-01-01 00:37:00 2020-01-01 00:37:00 2020-01-01 00:42:00
           201        2020-01-01 00:40:00 2020-01-01 00:40:00 2020-01-01 00:45:00
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00 2020-01-01 00:59:00
           303        2020-01-01 00:01:00 2020-01-01 00:01:00 2020-01-01 00:06:00
           300        2020-01-01 00:49:00 2020-01-01 00:49:00 2020-01-01 00:54:00
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00 2020-01-01 00:26:00
           400        2020-01-01 00:05:00 2020-01-01 00:05:00 2020-01-01 00:10:00
           402        2020-01-01 00:24:00 2020-01-01 00:24:00 2020-01-01 00:29:00
           401        2020-01-01 00:42:00 2020-01-01 00:42:00 2020-01-01 00:47:00
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00 2020-01-01 00:36:00
           500        2020-01-01 00:39:00 2020-01-01 00:39:00 2020-01-01 00:44:00

In [17]:
sessions['date_time_max_p5_cummax'] = sessions.groupby('visitor_id')['date_time_max_p5'].cummax()
sessions

                            date_time_min       date_time_max    date_time_max_p5 date_time_max_p5_cummax
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00 2020-01-01 00:16:00     2020-01-01 00:16:00
           102        2020-01-01 00:48:00 2020-01-01 00:48:00 2020-01-01 00:53:00     2020-01-01 00:53:00
           101        2020-01-01 00:52:00 2020-01-01 00:52:00 2020-01-01 00:57:00     2020-01-01 00:57:00
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00 2020-01-01 00:23:00     2020-01-01 00:23:00
           203        2020-01-01 00:37:00 2020-01-01 00:37:00 2020-01-01 00:42:00     2020-01-01 00:42:00
           201        2020-01-01 00:40:00 2020-01-01 00:40:00 2020-01-01 00:45:00     2020-01-01 00:45:00
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00 2020-01-01 00:59:00     2020-01-01 00:59:00
           303        2020-01-01 00:01:00 2020-01-01 00:01:00 2020-01-01 00:06:00     2020-01-01 00:59:00
           300        2020-01-01 00:49:00 2020-01-01 00:49:00 2020-01-01 00:54:00     2020-01-01 00:59:00
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00 2020-01-01 00:26:00     2020-01-01 00:26:00
           400        2020-01-01 00:05:00 2020-01-01 00:05:00 2020-01-01 00:10:00     2020-01-01 00:26:00
           402        2020-01-01 00:24:00 2020-01-01 00:24:00 2020-01-01 00:29:00     2020-01-01 00:29:00
           401        2020-01-01 00:42:00 2020-01-01 00:42:00 2020-01-01 00:47:00     2020-01-01 00:47:00
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00 2020-01-01 00:36:00     2020-01-01 00:36:00
           500        2020-01-01 00:39:00 2020-01-01 00:39:00 2020-01-01 00:44:00     2020-01-01 00:44:00

In [18]:
sessions['date_time_max_p5_cummax_prev'] = sessions.groupby('visitor_id')['date_time_max_p5_cummax'].transform(pd.Series.shift)
sessions

                            date_time_min       date_time_max    date_time_max_p5 date_time_max_p5_cummax date_time_max_p5_cummax_prev
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00 2020-01-01 00:16:00     2020-01-01 00:16:00                          NaT
           102        2020-01-01 00:48:00 2020-01-01 00:48:00 2020-01-01 00:53:00     2020-01-01 00:53:00          2020-01-01 00:16:00
           101        2020-01-01 00:52:00 2020-01-01 00:52:00 2020-01-01 00:57:00     2020-01-01 00:57:00          2020-01-01 00:53:00
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00 2020-01-01 00:23:00     2020-01-01 00:23:00                          NaT
           203        2020-01-01 00:37:00 2020-01-01 00:37:00 2020-01-01 00:42:00     2020-01-01 00:42:00          2020-01-01 00:23:00
           201        2020-01-01 00:40:00 2020-01-01 00:40:00 2020-01-01 00:45:00     2020-01-01 00:45:00          2020-01-01 00:42:00
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00 2020-01-01 00:59:00     2020-01-01 00:59:00                          NaT
           303        2020-01-01 00:01:00 2020-01-01 00:01:00 2020-01-01 00:06:00     2020-01-01 00:59:00          2020-01-01 00:59:00
           300        2020-01-01 00:49:00 2020-01-01 00:49:00 2020-01-01 00:54:00     2020-01-01 00:59:00          2020-01-01 00:59:00
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00 2020-01-01 00:26:00     2020-01-01 00:26:00                          NaT
           400        2020-01-01 00:05:00 2020-01-01 00:05:00 2020-01-01 00:10:00     2020-01-01 00:26:00          2020-01-01 00:26:00
           402        2020-01-01 00:24:00 2020-01-01 00:24:00 2020-01-01 00:29:00     2020-01-01 00:29:00          2020-01-01 00:26:00
           401        2020-01-01 00:42:00 2020-01-01 00:42:00 2020-01-01 00:47:00     2020-01-01 00:47:00          2020-01-01 00:29:00
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00 2020-01-01 00:36:00     2020-01-01 00:36:00                          NaT
           500        2020-01-01 00:39:00 2020-01-01 00:39:00 2020-01-01 00:44:00     2020-01-01 00:44:00          2020-01-01 00:36:00

In [19]:
sessions['group_with_prev'] = sessions.date_time_min <= sessions.date_time_max_p5_cummax_prev
sessions

                            date_time_min       date_time_max    date_time_max_p5 date_time_max_p5_cummax date_time_max_p5_cummax_prev  group_with_prev
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00 2020-01-01 00:16:00     2020-01-01 00:16:00                          NaT            False
           102        2020-01-01 00:48:00 2020-01-01 00:48:00 2020-01-01 00:53:00     2020-01-01 00:53:00          2020-01-01 00:16:00            False
           101        2020-01-01 00:52:00 2020-01-01 00:52:00 2020-01-01 00:57:00     2020-01-01 00:57:00          2020-01-01 00:53:00             True
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00 2020-01-01 00:23:00     2020-01-01 00:23:00                          NaT            False
           203        2020-01-01 00:37:00 2020-01-01 00:37:00 2020-01-01 00:42:00     2020-01-01 00:42:00          2020-01-01 00:23:00            False
           201        2020-01-01 00:40:00 2020-01-01 00:40:00 2020-01-01 00:45:00     2020-01-01 00:45:00          2020-01-01 00:42:00             True
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00 2020-01-01 00:59:00     2020-01-01 00:59:00                          NaT            False
           303        2020-01-01 00:01:00 2020-01-01 00:01:00 2020-01-01 00:06:00     2020-01-01 00:59:00          2020-01-01 00:59:00             True
           300        2020-01-01 00:49:00 2020-01-01 00:49:00 2020-01-01 00:54:00     2020-01-01 00:59:00          2020-01-01 00:59:00             True
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00 2020-01-01 00:26:00     2020-01-01 00:26:00                          NaT            False
           400        2020-01-01 00:05:00 2020-01-01 00:05:00 2020-01-01 00:10:00     2020-01-01 00:26:00          2020-01-01 00:26:00             True
           402        2020-01-01 00:24:00 2020-01-01 00:24:00 2020-01-01 00:29:00     2020-01-01 00:29:00          2020-01-01 00:26:00             True
           401        2020-01-01 00:42:00 2020-01-01 00:42:00 2020-01-01 00:47:00     2020-01-01 00:47:00          2020-01-01 00:29:00            False
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00 2020-01-01 00:36:00     2020-01-01 00:36:00                          NaT            False
           500        2020-01-01 00:39:00 2020-01-01 00:39:00 2020-01-01 00:44:00     2020-01-01 00:44:00          2020-01-01 00:36:00            False

In [20]:
sessions['session_group_id'] = (~sessions.group_with_prev).cumsum()
sessions

                            date_time_min       date_time_max    date_time_max_p5 date_time_max_p5_cummax date_time_max_p5_cummax_prev  group_with_prev  session_group_id
visitor_id session_id
1          100        2020-01-01 00:11:00 2020-01-01 00:11:00 2020-01-01 00:16:00     2020-01-01 00:16:00                          NaT            False                 1
           102        2020-01-01 00:48:00 2020-01-01 00:48:00 2020-01-01 00:53:00     2020-01-01 00:53:00          2020-01-01 00:16:00            False                 2
           101        2020-01-01 00:52:00 2020-01-01 00:52:00 2020-01-01 00:57:00     2020-01-01 00:57:00          2020-01-01 00:53:00             True                 2
2          200        2020-01-01 00:16:00 2020-01-01 00:18:00 2020-01-01 00:23:00     2020-01-01 00:23:00                          NaT            False                 3
           203        2020-01-01 00:37:00 2020-01-01 00:37:00 2020-01-01 00:42:00     2020-01-01 00:42:00          2020-01-01 00:23:00            False                 4
           201        2020-01-01 00:40:00 2020-01-01 00:40:00 2020-01-01 00:45:00     2020-01-01 00:45:00          2020-01-01 00:42:00             True                 4
3          302        2020-01-01 00:01:00 2020-01-01 00:54:00 2020-01-01 00:59:00     2020-01-01 00:59:00                          NaT            False                 5
           303        2020-01-01 00:01:00 2020-01-01 00:01:00 2020-01-01 00:06:00     2020-01-01 00:59:00          2020-01-01 00:59:00             True                 5
           300        2020-01-01 00:49:00 2020-01-01 00:49:00 2020-01-01 00:54:00     2020-01-01 00:59:00          2020-01-01 00:59:00             True                 5
4          403        2020-01-01 00:02:00 2020-01-01 00:21:00 2020-01-01 00:26:00     2020-01-01 00:26:00                          NaT            False                 6
           400        2020-01-01 00:05:00 2020-01-01 00:05:00 2020-01-01 00:10:00     2020-01-01 00:26:00          2020-01-01 00:26:00             True                 6
           402        2020-01-01 00:24:00 2020-01-01 00:24:00 2020-01-01 00:29:00     2020-01-01 00:29:00          2020-01-01 00:26:00             True                 6
           401        2020-01-01 00:42:00 2020-01-01 00:42:00 2020-01-01 00:47:00     2020-01-01 00:47:00          2020-01-01 00:29:00            False                 7
5          503        2020-01-01 00:31:00 2020-01-01 00:31:00 2020-01-01 00:36:00     2020-01-01 00:36:00                          NaT            False                 8
           500        2020-01-01 00:39:00 2020-01-01 00:39:00 2020-01-01 00:44:00     2020-01-01 00:44:00          2020-01-01 00:36:00            False                 9

In [21]:
hits = pd.merge(left=hits, right=sessions[['session_group_id']], on='session_id')
hits

    visitor_id  session_id           date_time                      page_url  session_group_id
0            1         100 2020-01-01 00:11:00  shoesfordogs.com/product/apx                 1
1            1         102 2020-01-01 00:48:00  shoesfordogs.com/product/evu                 2
2            1         101 2020-01-01 00:52:00  shoesfordogs.com/product/iev                 2
3            2         200 2020-01-01 00:16:00  shoesfordogs.com/product/aur                 3
4            2         200 2020-01-01 00:18:00  shoesfordogs.com/product/oma                 3
5            2         203 2020-01-01 00:37:00  shoesfordogs.com/product/rgy                 4
6            2         201 2020-01-01 00:40:00  shoesfordogs.com/product/yck                 4
7            3         302 2020-01-01 00:01:00  shoesfordogs.com/product/dah                 5
8            3         303 2020-01-01 00:01:00  shoesfordogs.com/product/lzj                 5
9            3         302 2020-01-01 00:33:00  shoesfordogs.com/product/pys                 5
10           3         302 2020-01-01 00:48:00  shoesfordogs.com/product/kef                 5
11           3         300 2020-01-01 00:49:00  shoesfordogs.com/product/kef                 5
12           3         302 2020-01-01 00:54:00  shoesfordogs.com/product/tfg                 5
13           4         403 2020-01-01 00:02:00  shoesfordogs.com/product/lzj                 6
14           4         400 2020-01-01 00:05:00  shoesfordogs.com/product/pys                 6
15           4         403 2020-01-01 00:21:00  shoesfordogs.com/product/oma                 6
16           4         402 2020-01-01 00:24:00  shoesfordogs.com/product/apx                 6
17           4         401 2020-01-01 00:42:00  shoesfordogs.com/product/evu                 7
18           5         503 2020-01-01 00:31:00  shoesfordogs.com/product/dah                 8
19           5         500 2020-01-01 00:39:00  shoesfordogs.com/product/apx                 9

# Q5 - OB-GYM Problem

https://www.practiceprobs.com/problemsets/python-pandas/advanced/ob-gym/

You own a gym 💪🏾 for pregnant women 🤰🏾 called “OB-GYM” and you recently opened a second location. You’d like to analyze its performance, but your reporting software has given you the sales data in an awkward format.

In [22]:
import numpy as np
import pandas as pd

generator = np.random.default_rng(314)

sales = pd.DataFrame({
    'date':pd.date_range(start = '2020-01-01', periods=5).repeat(2),
    'store_id':np.tile([1,2], 5),
    'sales1':np.round(generator.normal(loc=750, scale=20, size=10), 2),
    'sales2':np.round(generator.normal(loc=650, scale=40, size=10), 2),
    'members':generator.integers(low=20, high=25, size=10)
})
sales.loc[sales.store_id == 2, 'sales1'] = np.nan
sales.loc[sales.store_id == 1, 'sales2'] = np.nan

print(sales)

        date  store_id  sales1  sales2  members
0 2020-01-01         1  737.54     NaN       22
1 2020-01-01         2     NaN  629.00       20
2 2020-01-02         1  750.75     NaN       23
3 2020-01-02         2     NaN  699.01       22
4 2020-01-03         1  750.60     NaN       20
5 2020-01-03         2     NaN  640.20       24
6 2020-01-04         1  752.65     NaN       21
7 2020-01-04         2     NaN  695.64       22
8 2020-01-05         1  747.02     NaN       20
9 2020-01-05         2     NaN  632.40       22

Reshape it into a DataFrame like this

In [23]:
#               sales_1  sales_2  members_1  members_2
# date
# 2020-01-01    737.54    629.00         22         20
# 2020-01-02    750.75    699.01         23         22
# 2020-01-03    750.60    640.20         20         24
# 2020-01-04    752.65    695.64         21         22
# 2020-01-05    747.02    632.40         20         22

## Solution 1

In [24]:
sol1 = sales.pivot(index='date', columns='store_id').dropna(axis=1)
sol1.columns = [f'{x[:-1]}_{y}' if x[-1] in ('1', '2') else f'{x}_{y}' for x,y in sol1.columns]

print(sol1)

            sales_1  sales_2  members_1  members_2
date
2020-01-01   737.54   629.00         22         20
2020-01-02   750.75   699.01         23         22
2020-01-03   750.60   640.20         20         24
2020-01-04   752.65   695.64         21         22
2020-01-05   747.02   632.40         20         22

## Solution 2

In [25]:
sol1 = sales.pivot(index='date', columns='store_id').dropna(axis=1)
sol1.columns = [f'{x}_{y}' for x, y in sol1.columns]
print(sol1)

            sales1_1  sales2_2  members_1  members_2
date
2020-01-01    737.54    629.00         22         20
2020-01-02    750.75    699.01         23         22
2020-01-03    750.60    640.20         20         24
2020-01-04    752.65    695.64         21         22
2020-01-05    747.02    632.40         20         22